[2020-08-12 14:58] andrevmatos commented on #2080
https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#assertion-functions
This is not that common, but is supported by language syntax, used consistently through our codebase, and composes well with the error observables logic (errors skips all following operators until hitting ones made specifically to handle it, like `catchError` and `retryWhen`).

[2020-08-12 15:04] hackaugusto commented on #2084
As of `raiden==1.1.1` yes, the related issue linked in the issue is the one used to track split payments

[2020-08-12 15:11] andrevmatos commented on #2081
That's a good point, thank you for raising it. On preliminary tests, it seems that this event's queueing is relevant only at startup/subscription time, to avoid later epics losing events emitted at this point in time by previous epics. After that, it seems dispatch is synchronous until it hits some async function inside an epic.
In either case, the pattern currently used is suitable for both sync

[2020-08-12 15:17] andrevmatos commented on #2077
We should add an additional check in the `reducer` too, to avoid a very edgy case where the registering gets detected inside the expiration period, reorged and confirmed on a block after expiration, which will make the above code not emit it, but it may get confirmed by `confirmationEpic`, which is the only case when the `registerBlock` can get set with a block after expiration.

[2020-08-12 15:22] hackaugusto commented on #2077
It looks like it is sufficient.

Ideally this information should somehow be encoded, maybe in the type or attribute name, I guess having an attribute `successfullyRegisteredOnChain` and a comment when the variable is set explaining the above would be sufficient to avoid confusion (at least for me). ATM the validation of a secret registration is split on multiple places, which makes it hard to unde

[2020-08-12 15:27] hackaugusto opened #2085 "off-by-one on secret epic"
Follow up to https://github.com/raiden-network/light-client/issues/2077 .

The code below is accepting the secret registration were `lock.expiration == registration_block` as valid.

https://github.com/raiden-network/light-client/blob/0abfd9ee9d4359b150048f7018dd13fe07175086/raiden-ts/src/transfers/epics/secret.ts#L326-L343

However the smart contract does not:

https://github.com/raiden-network/r

[2020-08-12 15:28] andrevmatos commented on #2077
Let's keep this one, as the title is appropriate. I'll try to explain better this variable in the `TransferState` too, so it's made more obvious. The secret registration is validated  and emitted in only one place (the one I linked), and from there on, this state property is informative of the on-chain secret registration took place or not (therefore the checks out there), but we could inform it b

[2020-08-12 15:29] andrevmatos commented on #2085
I was about to ask you about it. Thanks!

[2020-08-12 15:42] andrevmatos commented on #2062
Superseded by #2077 and #2085

[2020-08-12 15:42] #2062 closed

[2020-08-13 11:42] andrevmatos commented on #2067
@hackaugusto I understand the grouping part for a payment, but for our logic, we really need to know something that represents uniquely a transfer, to have it as key in the state. Would the `secrethash` be a unique identifier **per channel** for a single transfer?

[2020-08-14 08:25] #1825 closed

[2020-08-14 08:25] #2031 closed

[2020-08-14 13:22] christianbrb commented on #1984
Also do #1717

[2020-08-14 21:31] hackaugusto commented on #2067
I wouldn't assume this, there is nothing that guarantees that would be the case.

[2020-08-14 22:42] andrevmatos commented on #2067
Yes, sure, theré s nothing that guarantees, besides protocol rules and implementation, and we write those. If we say (and implement) that another transfer with same secrethash on the same direction on a given channel should be unique, and a message should be rejected if it conflicts (or be replied with a Processed to confirm as a retry, or whatever), whoever doesn't follow will get theirselves out

[2020-08-17 09:12] christianbrb opened #2089 "Fix breaking MetaMask changes"
## Description
See the PR

see https://github.com/MetaMask/metamask-extension/issues/8077

## Acceptance criteria
-

## Tasks
- [ ]

[2020-08-18 09:54] weilbith commented on #1931
Just to give an update here. The new resource image was built and successfully tested. The link works fine now.
The deployment is on halt for an still open PR at the resource repository including a bunch of fixes. Furthermore is the domain routing not clarified yet, since this has to change and wasn't forgotten by Niels. I'm in a conversation with Ulo for this.

[2020-08-18 09:55] weilbith commented on #1951
The PR to do the updates is merged. I'm just preparing the CHANGELOG and will open a PR for the version bump soon.

[2020-08-18 12:53] #2047 closed

[2020-08-18 14:41] weilbith commented on #1931
Deployed and available.

[2020-08-18 14:41] #1931 closed

[2020-08-18 15:27] weilbith commented on #1951
New compatible version got released.

[2020-08-18 15:27] #1951 closed

[2020-08-19 09:09] christianbrb opened #2091 "Run all the scenarios after IndexedDB refactoring"
## Description
To fully test the implementation of #2044 we should run all available scenarios manually.

## Acceptance criteria
- The process how to run scenarios is documented
- All scenarios have been executed by @agatsoh

## Tasks
- [x] Write one task for each scenario to tick them off one by one
- [x] [bf1_basic_functionality](https://github.com/raiden-network/raiden/tree/develop/raiden/tests

[2020-08-19 09:51] christianbrb opened #2092 "Staging doesn't work"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Enter https://lightclient.raiden.network/staging/

## Expected Result
- I see the connect screen

## Actual Result
- I see an empty page with the following output

![grafik](https://user-images.githubusercontent.com/35398162/90620065-47cb0e80-e212-11ea-9ae8-01a2e1a03b3a.png)

## Additional Infos (Optional)
[code]

[2020-08-19 09:55] taleldayekh commented on #2092
@christianbrb Remove the last `/` in the URL and it will work. Try: https://lightclient.raiden.network/staging

[2020-08-19 09:58] taleldayekh opened #2094 "Transfer steps "lost" in dialog"
## Steps to Reproduce
1. Make a direct transfer

## Expected Result
- To see all steps check-boxed as they get finalized.

## Actual Result
- Only the `Transfer sent` step is check-boxed.

## Additional Infos (Optional)
<img width="546" alt="Screenshot 2020-08-19 at 11 02 41" src="https://user-images.githubusercontent.com/43838780/90620756-30405580-e213-11ea-89e1-fdf4f42f70c7.png">

[2020-08-19 10:02] christianbrb commented on #2092
It works : Thanks :)

[2020-08-19 10:02] #2092 closed

[2020-08-19 11:43] weilbith opened #2095 "dApp: define global alignment grid for view components and header"
## Description

At the moment does each view replicates the styling to have a padding and align everything left and right. The same goes for the header. This is quite cumbersome, duplicated code, new views are "hard" to add and changing the alignment increases linear in work according to the number of views and different headers. Also do special cases to treat the spacing differently not become hi

[2020-08-19 11:44] weilbith commented on #2095
@taleldayekh here we go

[2020-08-19 11:55] taleldayekh opened #2096 "dApp displays "Transfer" header on connect screen"
## Steps to Reproduce
1. Make sure the disclaimer is not hidden. Accept the disclaimer and proceed to the transfer screen.
2. Reload browser window and accept disclaimer again and stay at the connect screen.

## Expected Result
- The header to display nothing, if the dApp is not connected

## Actual Result
- Header displays `Transfer`

I suspect something is broken because the connect screen is no

[2020-08-19 12:06] taleldayekh commented on #2095
Thank you for adding the issue.

[2020-08-19 13:33] sashseurat commented on #1929
@christianbrb + @taleldayekh Here is the click-dummy for the notifications panel ready for your review:
https://www.figma.com/proto/nCvDyCfu5ZXnNETzepPLwg/LC-Notifications-Panel?node-id=179%3A11&viewport=923%2C270%2C0.884325385093689&scaling=contain

I've added the open channel icon, channel settled icon, and failed icon and would like your feedback on them as well.

[2020-08-19 15:15] taleldayekh commented on #1929
@sashseurat Crazy stuff, looks super nice 👍 :)

[2020-08-20 11:11] christianbrb commented on #1930
Fixed mostly. Opening a new issue for the amount and input fields.

[2020-08-20 11:11] #1930 closed

[2020-08-20 11:14] christianbrb opened #2098 "Disable the input fields on the transfer screen if the channel is not open"
## Description
Disable the input fields adress and amount on the transfer screen if the channel is not open.

Follow up on #1930

## Acceptance criteria
-

## Tasks
- [ ]

[2020-08-20 11:26] christianbrb commented on #1902
@taleldayekh What about using the snack bar as proposed by @sashseurat

The user would need to navigate to the navigation panel to see the details. This would be cleaner from my perspective.

[2020-08-20 12:35] #1717 closed

[2020-08-20 12:39] christianbrb opened #2099 "Test UDC deposit and RDN on mainnet"
Test UDC deposit and RDN on mainnet

[2020-08-20 13:01] christianbrb opened #2100 "Tooltips don't work on mobile"
## Description
Tooltips don't work on mobile

## Acceptance criteria
-

## Tasks
- [ ]

[2020-08-21 07:11] agatsoh commented on #2099
I have 10 RDN deposited in the UDC which is showing correctly.
I have 5 RDN in my main account which is also showing correctly in the dialog but I am not sure why the `deposit`  button is freezed even when `5.0 RDN` is correctly autopopulated in the input box.

![udc_deposit_dialog_test21Aug](https://user-images.githubusercontent.com/15123108/90862500-22253d00-e3ab-11ea-90eb-69bc57a3b073.png)

[2020-08-21 07:11] agatsoh commented on #2099
@taleldayekh FYI

[2020-08-21 07:50] taleldayekh commented on #2099
Oh, no :( Will look into it.

[2020-08-24 08:00] #2039 closed

[2020-08-24 08:15] taleldayekh commented on #2099
I think I found the bug. Looks like the RegEx that is used `^[1-9]\d*$` only parses whole numbers, so `5` enables the button while `5.0` won't enable the button. I will update the RexEx.

[2020-08-24 11:59] #2098 closed

[2020-08-24 12:07] #2027 closed

[2020-08-24 14:13] christianbrb commented on #1929
@taleldayekh Please also take a look at  https://github.com/raiden-network/light-client/issues/1902#issuecomment-677557195 when implementing this issue.

I would be in favor using the clickable snack bar at footer instead of the notification overlay on the top.

[2020-08-24 14:14] #1496 closed

[2020-08-24 14:16] taleldayekh commented on #1929
Understood and I agree. 👍

[2020-08-25 11:41] christianbrb opened #2108 "Don't show the red line under the amount input field"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Connect new token
2. Enter a hub address
3. Click on Select Hub

## Expected Result
- No red line on the amount input field

## Actual Result
- Red line on the amount input field
   ![grafik](https://user-images.githubusercontent.com/35398162/91169777-2ec1d200-e6d8-11ea-81e4-dd8f4c25afaa.png)

- There is also a blue line, if I have ad

[2020-08-25 12:13] christianbrb commented on #2108
Same for the amount field on the transfer screen

![grafik](https://user-images.githubusercontent.com/35398162/91172871-33d55000-e6dd-11ea-8a3a-5d87eb4fa012.png)

[2020-08-25 12:21] christianbrb commented on #2108
It applies for all amount input fields.

[2020-08-25 13:21] christianbrb commented on #2108
Thomas once fixed that: https://github.com/raiden-network/light-client/pull/708

[2020-08-25 15:48] #2099 closed

[2020-08-26 09:36] christianbrb commented on #2091
Pushing that to the current iteration to run them after a PR for #2044 has been submitted.

[2020-08-26 13:28] christianbrb commented on #1707
The migration guide: https://docs.ethers.io/v5/migration/ethers-v4/

[2020-08-27 11:15] christianbrb commented on #716
There is a new option: https://uniswap.org/blog/token-lists/

[2020-08-28 10:30] agatsoh commented on #1838
![Screenshot_20200828-155423_MetaMask.jpg](https://user-images.githubusercontent.com/15123108/91551163-608ca000-e947-11ea-8492-2d86d8704827.jpg)

So I was using the metamask app and I don't get the check boxes  to check the conditions of the disclaimer

[2020-08-28 11:12] christianbrb commented on #1838
@agatsoh Thanks for the update 👍

Is it scrollable? If not, this should be one of the issues, that you need to fix.

[2020-08-28 12:25] christianbrb commented on #1902
@taleldayekh Are you coviring this within #2112?

[2020-08-28 12:48] taleldayekh commented on #1902
Not sure what this issue is about. But the notification snackbar now looks like this:
![noti](https://user-images.githubusercontent.com/43838780/91562392-6da49180-e93d-11ea-9054-dc3e9d355bb0.png)

[2020-08-28 12:49] taleldayekh commented on #1902
It used to be overloaded with information that is impossible to grasp within the 5000 milliseconds the card is displayed. The title is all we need and then the user can access the notification panel for more information.

[2020-08-28 12:51] taleldayekh commented on #1902
The snackbar had:
* Title
* Very long description
* Icon
* Badge
* Dismiss button

[2020-08-28 12:55] kelsos commented on #1902
This was about using the same component in the notifications and snackbar since initially they had the same content but duplicated.

If the new approach now is to simplify the snackbar content then this issue doesn't make sense anymore, because they have different content so you should be able to close it.

[2020-08-28 13:00] christianbrb commented on #1902
Ok, thanks :) Closing this issue.

[2020-08-28 13:00] #1902 closed

[2020-08-28 13:11] christianbrb commented on #1984
As Thore is on vacation, we are just going to center it without the refactoring proposed by him.

[2020-08-28 13:12] christianbrb commented on #1977
We would need to work with @ulope in future.

[2020-08-28 14:08] taleldayekh opened #2114 "dApp keeps redirecting to connect view after connecting"
## Steps to Reproduce
1. Connect to the dApp on hosted, staging, or locally using Goerli.

## Expected Result
- To get redirected to the next view

## Actual Result
- Redirects back to the connect view and console showing a transport 500 error, something like this: `POST https://transport.demo001.env.raiden.network/_matrix/client/r0/join/%23raiden_goerli_monitoring%3Atransport.demo001.env.raiden.n

[2020-08-28 14:16] christianbrb commented on #2114
The same is happening to me.

My logs:
[raiden_0x8c8492280cB454F2753DBb9a3114F4DA80F66714_2020-08-28T14 14 33.854Z.log](https://github.com/raiden-network/light-client/files/5142541/raiden_0x8c8492280cB454F2753DBb9a3114F4DA80F66714_2020-08-28T14.14.33.854Z.log)

[2020-08-28 14:18] christianbrb commented on #2114
@andrevmatos

[2020-08-28 14:35] ulope commented on #2114
The postgres db on that server was crashlooping because it couldn't allocate enough shared memory.
I suspect memory fragmentation. I rebooted the server and now things seem to be back up.

I also reduced the worker count from 8 to 4 since the machine only has 4 cores and 8 GB RAM.

[2020-08-28 14:36] taleldayekh commented on #2114
@ulope It works, thank you, I'm back in business!

[2020-08-28 14:36] #2114 closed

[2020-08-31 11:35] taleldayekh commented on #1838
<img width="366" alt="Screenshot 2020-08-31 at 13 35 08" src="https://user-images.githubusercontent.com/43838780/91715874-d9316d80-eb8e-11ea-95b9-41cdc2e43f95.png">

[2020-08-31 11:36] taleldayekh commented on #1838
<img width="427" alt="Screenshot 2020-08-31 at 13 36 14" src="https://user-images.githubusercontent.com/43838780/91715964-fe25e080-eb8e-11ea-9129-9732e8e9443b.png">

[2020-08-31 11:47] taleldayekh commented on #1838
@agatsoh Besides the disclaimer and the screen @christianbrb posted I found the two above also breaking on mobile. I can go ahead and fix them in a separate PR from yours.

[2020-08-31 14:20] christianbrb commented on #1615
@andrevmatos is currently working on this :)

[2020-08-31 15:11] #1984 closed

[2020-09-01 09:13] agatsoh opened #2117 "Couldn't set up WebRTC dataChannel"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Followed steps to deploy artifacts directly from a PR https://github.com/raiden-network/light-client/tree/master/serve_pr
2. Connect a new address on goerli
3. mint deposit SVT tokens
4. Connecting to the TTT token
5. instead of the default hub account open a channel with another light-client opened similarly  on another browser. Matr

[2020-09-01 12:32] #1929 closed

[2020-09-01 13:24] taleldayekh commented on #2024
@andrevmatos Running `docker-compose up` spins up something but when I try to access the URL I get nada.

[2020-09-01 16:41] #1838 closed

[2020-09-02 08:18] taleldayekh commented on #2108
This does not seem to be an issue anymore (latest master), I cannot reproduce it, neither on Firefox nor Chrome. @agatsoh could you take a look an see if you are experiencing these issues.

[2020-09-02 08:32] taleldayekh commented on #2026
I simply removed the delay time which makes the tooltip disappear as soon as the mouse is not on top of it. I think this is a good solution, we get to keep the tooltips without them being persistent and cluttering the dApp.

[2020-09-02 08:40] taleldayekh commented on #2100
https://github.com/Akryum/v-tooltip#manual-trigger-example

[2020-09-02 09:01] agatsoh commented on #2108
Yes i confirm that the red line is not shown either in chrome or in firefox. I think this issue can be safely closed.

[2020-09-02 09:09] taleldayekh commented on #2024
Tried this one again today and now I'm getting `Script error: No artifact found to download`.

[2020-09-02 09:37] #2026 closed

[2020-09-02 14:03] sashseurat opened #2124 "Spacing optimisation for transfer component"
## Description
Currently, because we are using ui libraries needing dirty fixes, the spacing between elements in the transfer component is inconsistant.
We need to fix the appearance to make the implemented designs look like the drafts, and have consistent units of space appear everywhere.

## Tasks
- [ ] Decision on which way do we optimize the spacing (do we replace the css with our custom css?

[2020-09-03 13:52] taleldayekh commented on #2024
To clarify my attempt:
1. Navigated to the `serve_pr` dir.
2. Created an CircleCI token and saved it in a `.env` file.
3. Created a `app` dir with the correct permissions.
4. Have docke running on my machine.
5. Executed `docker-compose up`.
6. Only getting `Script error: No artifact found to download`.

[2020-09-04 10:05] #2124 closed

[2020-09-04 11:34] taleldayekh commented on #2108
I'm reopening this issue. Apparently this is a problem on staging. I don't see any red line when serving the dApp locally (latest master) but for some reason, the red line happens on staging.

[2020-09-05 20:14] nephix opened #2129 "Cant accept disclaimer in metamask mobile"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Install metamask app
2. Go to raiden light client

## Expected Result
- i can accept the disclaimer

## Actual Result

Checkboxes aren't visible

![Screenshot_20200905-221032_MetaMask.jpg](https://user-images.githubusercontent.com/3169205/92312833-13eb3980-efc5-11ea-8427-ca41c5b84de1.jpg)

## Additional Infos (Optional)
[code]

[2020-09-09 12:04] agatsoh commented on #2117
On the current master somehow this issue seems to have solved itself
![wbrtc_datachannel_opening](https://user-images.githubusercontent.com/15123108/92595813-8e1c0680-f2c2-11ea-916c-c113a18c6cb0.png)

Hence closing the issue for now. It could be re-opened if we see the issue happening again.

[2020-09-09 12:04] #2117 closed

[2020-09-14 08:19] weilbith commented on #2024
Stupid comment, but did you check on CircleCI that there was an Artifact built for the branch you are interested in?

[2020-09-14 09:27] christianbrb commented on #2023
There is a similiar Lightning Network app: https://sphinx.chat/

[2020-09-15 06:43] agatsoh commented on #2091
I ran the BF1 scenario on the scenario player by following instructions in this PR of Andre
https://github.com/raiden-network/light-client/pull/1954

Invariably I get this error
https://gist.github.com/agatsoh/fcbd43528eedc12b369a593780669017

[2020-09-15 12:03] weilbith commented on #2129
Hmm actually the text part should be `60vh` height. On your screenshot it looks like Metamask its UI is taking a lot of the screens height. But actually `vh` should refer to the size of the viewport. :thinking:

[2020-09-15 12:31] weilbith commented on #2108
Incredibly hard to debug since `staging` gets deployed in production mode. So eventually there is something broken about the `$route` query parameters. I don't know why this should happen, but the treatment of these parameters is not too stable...

[2020-09-15 12:34] weilbith commented on #2100
@taleldayekh cool feature. Eventually could be combined with a `onTapHold` or `onLongTap` touch action (e.g. use [vue2-touch-events](https://www.npmjs.com/package/vue2-touch-events).

[2020-09-15 13:29] christianbrb commented on #1707
Blocked by #2044

[2020-09-15 15:17] taleldayekh opened #2137 "Replace strings with enums for state actions mutations etc."
## Description
@weilbith Could you fill in details?

## Acceptance criteria
-

## Tasks
- [ ]

[2020-09-15 15:22] taleldayekh opened #2138 "Opening multiple channels with different tokens breaks token select overlay"
## Steps to Reproduce
1. Open multiple channels.
2. Navigate to token select.

## Expected Result
- To have a list of connected tokens which is scrollable and does not break the layout.

## Actual Result
<img width="1644" alt="Screenshot 2020-09-15 at 17 19 34" src="https://user-images.githubusercontent.com/43838780/93230360-e26a2f00-f777-11ea-8c3a-1844e7f05d05.png">

[2020-09-17 11:18] christianbrb commented on #2129
@nephix Thanks for raising the issue. Could you check if https://lightclient.raiden.network/staging works for you? We have done some changes (#1838) lately to fix issues on mobile.

[2020-09-17 11:42] nephix commented on #2129
I can accept the terms but the 2nd checkbox isnt clickable

![Screenshot_20200917-134156_MetaMask.jpg](https://user-images.githubusercontent.com/3169205/93465854-a061fa00-f8eb-11ea-8220-7bd33bd4a6fc.jpg)

![Screenshot_20200917-134201_MetaMask.jpg](https://user-images.githubusercontent.com/3169205/93465879-a8219e80-f8eb-11ea-9a55-5fe53d2c12d2.jpg)

[2020-09-17 11:58] christianbrb commented on #2129
Thanks for the quick test :) We'll fix it.

[2020-09-17 12:05] christianbrb opened #2140 "As Chris I would like to see my old notification so that I am not getting confused"
## User Story
As Chris I would like to see my old notification so that I am not getting confused

@weilbith Is this correct like this? Please correct if this is not.

## Acceptance criteria

## Tasks

[2020-09-17 12:13] weilbith commented on #2140
Sounds good.

This feature will then lead to the issue to make a decision how the notifications should be stored. Because the list of notifications is meant to grow statically over time, this will lead to storage space and thereby performance issues.
Therefore I suggest to tackle the assumption of statically growing and establish a clean up logic. Such mechanism should simply tidy up old notificat

[2020-09-18 23:35] andrevmatos commented on #2091
I've tried running some early scenarios on the PR. With it, I discovered an issue with the test environment, where PFSs are returning BigNumbers (> 2^53) as JSON numbers (where Raiden core returns such numbers encoded as strings). This gave us trouble since we removed lossless-json (#2072).
Also, SP is also passing numbers on amounts to the API, which also gives problems when these numbers are big

[2020-09-19 20:11] weilbith opened #2142 "Vue-Router account child route warning message"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Visit the light client dApp (any mode)
2. Open the browser console

## Expected Result
- No errors/warnings from 1st party

## Actual Result
- Warning by `vue-router`

[code]

[2020-09-19 20:18] weilbith opened #2144 "Transfer route needs to handle URL parameter optionally"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Navigate to the transfer route without a parameter
2. Checkout the thrown error messages

## Expected Result
- The transfer route uses optional paramters
- The component assigned to the route handles the parameters as optional
- Transfer route is a single entry in the route config list

## Actual Result
- Opposite of all points above

[2020-09-21 08:21] weilbith opened #2145 "dApp: getting channel with biggestes capcity is unsecure of no tokens exist"
This is a more of a theoretic issue, but super simple to fix.

## Steps to Reproduce
1. Attempt to get the channel with the biggest capacity for a token that is not used
2. Checkout the error message of the store its getter function

## Expected Result
- Return something like `null` (like in other getters)

## Actual Result
- Throws

[2020-09-21 10:05] weilbith opened #2147 "dApp: Tidy up the RaidenService module and introduce some structure"
## Description
At the moment this module is a steadily growing. Functions get bigger and bigger. Nobody finds something, it is hard to read and hard to extend. Parts like the subscription to events for submitting notifications started small for a couple of events. Now it has become huge without any structure. But actually this procedure follows a pretty simple schema. This should be represented in

[2020-09-21 10:21] christianbrb opened #2148 "CodeClimate checks do not seem to work any more"
## Description
After reading #2147 I have checked CodeClimate and the code quality seemed [to get worse within the last 2 months](https://codeclimate.com/github/raiden-network/light-client/trends/technical_debt).

![grafik](https://user-images.githubusercontent.com/35398162/93756124-d7465180-fc04-11ea-91e6-a8a309f44185.png)

It does not seem to get checked any more within a PR (see eg. https://git

[2020-09-22 07:49] taleldayekh opened #2149 "Add unit tests to the store notifications module"
## Description
Currently the notifications module of the store completely lacks tests. We need to add test coverage for that part of the code base.

## Acceptance criteria
- Cover the notification store code with unit tests.

## Tasks
- [ ]

[2020-09-22 08:00] #1941 closed

[2020-09-22 08:03] #2096 closed

[2020-09-22 08:14] #2142 closed

[2020-09-22 08:36] #2144 closed

[2020-09-22 09:51] #2024 closed

[2020-09-22 09:58] weilbith opened #2151 "dApp: introduce automatic propery type check"
## Description

At the moment we need to declare the type of a components property twice. Once for the type check of the component and another time for TypeScript itself. This looks like that:

[code]

There is a nice library called [reflect-metadata](https://github.com/rbuckton/reflect-metadata) that allows decorators to extract metadata from TypeScript. This is [supported by](https://github.com/

[2020-09-22 10:07] christianbrb commented on #2108
If the channel is closed the line looks different (see screenshot below)

![grafik](https://user-images.githubusercontent.com/35398162/93869503-2905df00-fccc-11ea-864a-7666ffdc1aa5.png)

[2020-09-22 12:58] andrevmatos commented on #2151
Vue3 gets advanced typechecking on all properties ootb, and with it I think it's good to also ditch our classes for composition API documents, which will make these decorators not needed. I think we should go on that direction when we need to touch this.

[2020-09-22 13:33] christianbrb opened #2154 "Feedback on Open Channel Progress"
## Description

@taleldayekh Thanks a lot for the implementation of #1941. It improved a lot the usability.

Some in-iteration feedback on the current implementation:

- [x] 1. The grey text on the notifciation is hard to read. What do you think about switching to white? The date/time could stay grey. CC @sashseurat

- [x] 2. Sorting of the notifications should be descending (latest on top). It is

[2020-09-22 13:37] sashseurat commented on #2154
How about this color:
#AFB8C0

[2020-09-22 13:53] christianbrb commented on #2154
@sashseurat `#AFB8C0` is a nice color and it would be a new color as far as I can see. Right now I would go with the white we are already using and deciding in a separate issue, if we want to change some or all of this white to `#AFB8C0`.

[2020-09-22 14:01] #2151 closed

[2020-09-22 15:18] christianbrb opened #2156 "I would like to know the progress of my channel deposit"
## User Story
As Chris I would like to know the progress of my channel deposit so that I can know what is going on.

It is a follow up of #1941

## Acceptance criteria

## Tasks

[2020-09-23 10:50] #1616 closed

[2020-09-23 13:23] christianbrb opened #2157 "Update the documentation of the SDK regarding the storage persistence changes"
### Description
Update the documentation of the SDK regarding the storage persistence changes done in #2044

### Acceptance criteria
- Having a conceptual diagram
- Not too detailed - keep it simple

[2020-09-23 13:26] christianbrb opened #2158 "WebRTC adaptations"
### Problem
https://github.com/raiden-network/raiden/pull/6477 introduced some minor changes to the WebRTC handling.

### Solution
Adapt the SDK to be compatible with the changes.

[2020-09-23 15:35] taleldayekh opened #2159 "Account screen routing not working when disconnected"
## Steps to Reproduce
1. Disconnect the dApp.
2. Click on the gray identicon to access the account screen.

## Expected Result
- The account screen to be accessible with a limited set of menu items.

## Actual Result
- Cannot access the account screen because the routing is blocking it.

[2020-09-24 00:27] andrevmatos commented on #2159
This issue is urgent. It seems lots (most? all?) of routes stopped working. I can't perform transfers because not even the `transfers-steps` routes are accessible.

[2020-09-24 08:48] taleldayekh commented on #2154
@christianbrb The deposit is a separate event from the channel open. So the channel open notification is correct in the sense that it displays `Channel successfully open` before the deposit signing appears in MetaMask. A channel has been opened regardless of whether you choose to deposit or not. If you cancel the MetaMask signature the channel will still be opened.

[2020-09-24 08:50] christianbrb commented on #2154
Makes sense, that’s why I have opened https://github.com/raiden-network/light-client/issues/2156

[2020-09-24 08:53] taleldayekh commented on #2089
I am not getting any console warnings from MetaMask. I've used MetaMask to connect, mint and open channels. Perhaps it is safe to close this issue?

[2020-09-24 10:45] christianbrb commented on #2089
Maybe this is helpful?

See: https://github.com/raiden-network/light-client/search?q=window.web3

See: https://github.com/raiden-network/light-client/search?q=window.ethereum

[2020-09-24 12:45] #2159 closed

[2020-09-24 12:55] #2129 closed

[2020-09-24 13:16] #2154 closed

[2020-09-24 13:55] #1933 closed

[2020-09-24 13:55] #2044 closed

[2020-09-24 13:55] #1831 closed

[2020-09-24 13:55] #2025 closed

[2020-09-24 13:55] #2056 closed

[2020-09-24 13:55] #2077 closed

[2020-09-24 13:55] #2085 closed

[2020-09-24 13:55] #1615 closed

[2020-09-24 13:59] christianbrb commented on #1584
Start with the basic main scenarios

[2020-09-24 14:09] andrevmatos commented on #2158
Described the agreed solution: https://github.com/raiden-network/raiden/issues/6560#issuecomment-697465815

[2020-09-24 14:49] taleldayekh commented on #2089
As discussed in the daily, this issue can be closed.

[2020-09-24 14:49] #2089 closed

[2020-09-25 11:12] agatsoh commented on #2091
I am trying to get bf1 running currently and  after that I will try all the others as well.

[2020-09-25 13:22] christianbrb commented on #2148
CodeClimate were stuck. Removed from the required checks. Maybe this was due to @kelsos leaving the team (token?).

[2020-09-25 13:27] christianbrb commented on #1977
@ulope is currently working on setting up the nightly for the python client. @weilbith would be available to assist and collaborate.

[2020-09-25 13:30] kelsos commented on #2148
@christianbrb Was I the one that created the codeclimate configuration?

[2020-09-25 13:33] christianbrb opened #2172 "Bundle CLI and serve it as an artifact"
## Description

Bundle CLI and serve it as an artifact

@andrevmatos to provide details

## Acceptance criteria
-

## Tasks
- [ ]

[2020-09-25 13:36] kelsos commented on #2148
At least from what I see, I cannot access the repo settings for the projects on code climate anymore as excepted. Maybe you can go to the site log in with the github account and check the repo settings tab.

https://docs.codeclimate.com/docs/github-pull-requests#pull-request-statuses

The screenshot is from one of my own projects that has codeclimate activated.
![image](https://user-images.githubu

[2020-09-25 14:06] christianbrb commented on #2148
@kelsos Great :) Thanks for the quick feedback :)

[2020-09-25 14:35] taleldayekh opened #2173 "Remove NotificationImportance property and notificationQueue getter"
## Description
There is no clear use case for the notification importance property. We should either decide on a use case or remove it from the code base.

## Acceptance criteria
-

## Tasks
- [ ]

[2020-09-28 07:06] christianbrb opened #2176 "NavigationDuplicated: Avoided redundant navigation to current location"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Navigate to https://lightclient.raiden.network/staging/
2. I don't know ;)

## Expected Result
- No console error/warning

## Actual Result
- The following console error is shown

`Uncaught (in promise) NavigationDuplicated: Avoided redundant navigation to current location: "/transfer/0x59105441977ecD9d805A4f5b060E34676F50F806".`

![g

[2020-09-28 07:18] christianbrb opened #2177 "Withdraw not working after crashing the task a few times during withdraw"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Navigate to https://lightclient.raiden.network/staging
2. Make a withdraw
3. Kill the browser task during withdraw
4. Make this a few times
5. Make a withdraw without killing the browser task

## Expected Result
- Withdraw works

## Actual Result
- Withdraw does not work (Spinner keeps spinning and no MetaMask pop-up)
- No console err

[2020-09-28 07:19] christianbrb commented on #2177
Maybe an issue with the Raiden hub client?
@weilbith Could you please upload the logs of the Raiden hub of today? Thanks :)

[2020-09-28 07:21] christianbrb opened #2178 "I would like to get reminded frequently to make a backup of my state"
## User Story
As Chris I would like to get reminded frequently to make a backup of my state so that I don't lose tokens.

## Acceptance criteria
- It is shown as a notification
- Show it once a day

## Tasks

[2020-09-28 09:13] weilbith commented on #2177
Here we go. Don't get confused by the date in the file name. Paul enlightened me how the log rotating works for the Python client. ^^
[raiden-debug_2020-09-27T12:00:44.641239.log](https://github.com/raiden-network/light-client/files/5291199/raiden-debug_2020-09-27T12.00.44.641239.log)

[2020-09-28 09:51] taleldayekh commented on #1584
I guess we need to discuss what the basic scenarios are and how to organise the tests.

[2020-09-28 10:21] weilbith opened #2179 "dApp: Establish actual unit tests"
## Description

At the moment we have a lot of test suits that claim to include unit test cases, but they don't. It is a pattern that tests for a Vue component include the actual store or router. Also do many suits not shallow mount their components, but mount them "fully" . This comes not rarely with the issue that child-components have requirements that need to be full-filled. That creates not w

[2020-09-28 10:32] christianbrb commented on #2177
@weilbith Thanks :) I don't see an error within the logs.

@andrevmatos Could you please check the logs? I have retried and it is still not working.

[2020-09-28 11:51] weilbith commented on #2173
@christianbrb any opinion on that?

[2020-09-28 12:28] #2172 closed

[2020-09-28 19:14] #2149 closed

[2020-09-29 07:33] weilbith commented on #1977
I contacted Ulo yesterday and got the link to the [resource repository](https://github.com/raiden-network/scenarioplayer.ci.raiden.network) today. I'll take a look into that soon to get familiar with the setup.

[2020-09-29 08:28] weilbith opened #2182 "dApp: getMainAccount not a function TypeErrors during unit tests"
## Steps to Reproduce
1. Run the unit tests
2. Get a mass of red text with warnings

## Expected Result
- Test output is clean
- Developer do not get used to this and possibly oversee actual new issues

## Actual Result
- many errors

[2020-09-29 08:34] weilbith commented on #2182
Errors look like this:

[code]

[2020-09-29 10:12] christianbrb opened #2184 "Token transfer unsuccessful after closing browser during withdraw"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Crash the browser during withdraw (see #2184)
2. Wait a while (in my case it has been one night)
2. Navigate to https://lightclient.raiden.network/staging/#/transfer/0x59105441977ecD9d805A4f5b060E34676F50F806/0x1F916ab5cf1B30B22f24Ebf435f53Ee665344Acf?amount=0.0001
2. Make a transfer

## Expected Result
- Transfer successful

## Actua

[2020-09-29 11:07] #2158 closed

[2020-09-29 11:09] taleldayekh opened #2185 "Transaction history box missing bottom rounded corners"
## Steps to Reproduce
1. Navigate to transfer screen.

## Expected Result
- The gray box which holds the transaction history should have all four corners rounded.

## Actual Result
- Only the top two corners are rounded.

## Additional Infos (Optional)
<img width="636" alt="Screenshot 2020-09-29 at 11 40 00" src="https://user-images.githubusercontent.com/43838780/94551023-fa9c7c80-0254-11eb-97de-a

[2020-09-29 11:36] #2182 closed

[2020-09-29 11:48] #2138 closed

[2020-09-29 14:27] andrevmatos commented on #2184
Yes, this is a direct consequence of #2177 : got out of sync somehow and nothing will work after it.

[2020-09-29 15:29] christianbrb commented on #2184
@andrevmatos Thanks for looking into it.

Is this specific to withdraws?

[2020-09-30 07:45] christianbrb opened #2186 "Strategy on how to improve unit testing in the dApp"
## Description
Write down a strategy (checklist) on how to improve unit testing (including research) in the dApp and try it in on one component.

## Acceptance criteria
- We spend one day on this task

## Tasks
- [x] Write down summary @weilbith
- [ ] Create follow up issues @weilbith

[2020-09-30 11:18] taleldayekh commented on #2091
pfs2 scenarios successful 👍

[2020-09-30 11:55] andrevmatos commented on #2091
I've reproduced @agatsoh's issue locally. I'm trying to debug it. Looks like webRTC native lib hits some sort of infinite loop internally upon getting connected on a machine/client which has many connections (so it shows more often on scenarios like BF1 & BF6), which makes CPUs go crazy. This doesn't seem something related to our code, profiling has shown only `(program)` stack element taking that

[2020-09-30 12:51] taleldayekh commented on #2184
We'll tackle this in #2177 .

[2020-09-30 12:51] #2184 closed

[2020-09-30 12:52] taleldayekh commented on #2176
To reproduce:
- Make a transfer
- After a transfer close the dialog before it closes itself

Timer redirecting to the same route you are already at.

[2020-09-30 13:09] taleldayekh commented on #1874
@christianbrb discuss with management which values should be used before we can make the code changes which is a simple change.

[2020-10-01 09:23] weilbith commented on #1584
@taleldayekh you assigned me as well. What tasks do you expect I should start to work on?

[2020-10-01 09:40] taleldayekh commented on #1584
@weilbith I assigned you because I guess we will be having some discussions on how to best implement this stuff. :) But if you want you could resarch the CI integration.

[2020-10-01 09:46] weilbith commented on #1584
Sounds good. Ping me when you have something ready I could try to make work with CI.

[2020-10-01 10:41] weilbith commented on #2176
@christianbrb I fail to reproduce this issue. Can you please help me?
Here is what I do:
  - I have an open channel with the hub that is funded
  - I'm on the `/transfer/<token-of-channel>` route
  - I'm entering the hub as direct transfer target and any small amount
  - I follow the progress by clicking on transfer and then accept the "path" and fees
  - The transfer progresss dialog pops up and

[2020-10-01 12:58] weilbith commented on #2186
Due to my current private situation I would still like to work some days from home. As I highly suggest we should have tackle this issue on one intensive day together in the office. @taleldayekh @palango are you fine to do this later this iteration like next Wednesday or so?

[2020-10-01 13:18] christianbrb commented on #2176
I am not able to reproduce it. Closing.

[2020-10-01 13:18] #2176 closed

[2020-10-02 08:06] christianbrb opened #2194 "Warning is shown "Cannot replace state with older state" but I haven't tried to upload a state"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Navigate to https://lightclient.raiden.network/staging/#/home?redirectTo=%2Ftransfer%2F0x59105441977ecD9d805A4f5b060E34676F50F806
2. Accept the disclaimer
3. Navigate to the account menu
4. Doing nothing (honestly ;) )

## Expected Result
- No warning
- I can use the dApp

## Actual Result
- I am not able to use the dApp
-
![grafik](h

[2020-10-02 08:16] christianbrb commented on #2194
It seems to be the wrong error message. The logs show

[code]

[2020-10-02 08:19] christianbrb commented on #2194
Entering the link into the browser shows:

[code]

[2020-10-02 08:23] christianbrb commented on #2194
The CORS issue seems to reoccur from time to time and might not be the root cause.,

[2020-10-02 08:35] christianbrb commented on #2194
Deleted local storage and it worked. Fingers crossed, that this is just a one time issue after #2044 has been implemented. Closing.

[2020-10-02 09:36] christianbrb commented on #1584
I was thinking about implementing the following scenario, but we would need to discuss how and if we break it down.

The scenario has been build under the assumption, that those are high level integration tests and not pure UI tests.

1. Open the dApp with the address, token and token amount as a paramter: https://lightclient.raiden.network/#/connect/0xE2b702eD684bEb02850ac604278f078A4ce8b6E6/0x1F

[2020-10-02 09:55] taleldayekh commented on #1584
@christianbrb Nice, thanks for the good job and effort in thinking that through.

[2020-10-02 09:58] kelsos commented on #1584
In the case of the light client, it is harder to have pure UI tests since you would have to mock the SDK. If the integration image is used as a base I don't think that it would be a problem having e2e tests in Cypress, since everything happens in a controlled environment.

[2020-10-02 11:42] agatsoh opened #2195 "Due to WebRTC: BF6 encounters lock expired exception"
## Description
Running Scenario player with light client gives
[code]
Many payments in many nodes have errored mostly from this task
[code]

[scenario-player-run_bf6_stress_hub_node_2020-10-02T15:57:32.log](https://github.com/raiden-network/light-client/files/5317666/scenario-player-run_bf6_stress_hub_node_2020-10-02T15.57.32.log)

individual node logs
https://drive.google.com/drive/folders/1w5iez

[2020-10-02 11:45] palango commented on #2195
Was this with webRTC disabled?

[2020-10-02 11:48] agatsoh commented on #2195
Actually I did not enable or disable webrtc, I think default is enabled right ?

[2020-10-02 12:22] andrevmatos commented on #2195
There's some issue with sending messages while waiting for partners to join rooms, which triggers only on high-load scenarios like BF6. This may also affect WebRTC. I'm working on it.

[2020-10-02 12:29] christianbrb commented on #2194
Reopening as I am still getting the issue again.

[2020-10-02 15:21] christianbrb commented on #2194
After deleting everything again it works. Strange. Closing.

Have a nice weekend everybody ☘️ 😄

[2020-10-02 15:21] #2194 closed

[2020-10-05 08:47] #1255 closed

[2020-10-05 11:00] agatsoh opened #2196 "BF7 gets no route available"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Clone scenario player repo, make a virtual env and install the scenario player
2. Choose a scenario player file from raiden repo, find `raiden_version` and change it to point to the raiden bash file in the Light Client codebase under raiden-cli. Instructions here https://github.com/raiden-network/light-client/pull/1954
3. Run the scen

[2020-10-05 12:33] palango commented on #2148
![Screenshot 2020-10-05 at 14 31 51](https://user-images.githubusercontent.com/90851/95079885-87dd4680-0717-11eb-9465-c467133e513f.png)

Looks like that for me now. However, I still don't see the according check in the GitHub settings. @kelsos Do you remember how you enabled that?

[2020-10-05 12:50] #2185 closed

[2020-10-05 12:59] palango commented on #2148
It works in https://github.com/raiden-network/light-client/pull/2197

According to the requirements that's all to do. Is there anything more that used to be done @christianbrb ? The technical dept is still higher than in summer.

[2020-10-05 13:02] kelsos commented on #2148
Out of curiosity @palango any idea why it stopped working, was it because I left the organization?

[2020-10-05 13:04] palango commented on #2148
No, I don't know. Andre removed the branch check at some point because it wasn't working, but maybe it really was disabled because you left the team.

[2020-10-05 13:08] palango commented on #2148
Done with the check marked as required for PRs to master.

[2020-10-05 13:08] #2148 closed

[2020-10-05 14:39] palango commented on #2157
@andrevmatos Is there any more documentation then in the PR https://github.com/raiden-network/light-client/issues/2044?
@christianbrb Should this go into `SDK-Developmend.md` or some other place?

[2020-10-05 16:01] weilbith commented on #2186
The [Vue Test Utils](https://vue-test-utils.vuejs.org/) are defacto the standard for testing Vue components in "unit" manner. They basically provide everything you need for it.
Else we use Jest as general testing framework for JS/TS. Would be good to know it's basics. Although there is not much special about it and nothing new to learn in comparison to many other frameworks also for other language

[2020-10-06 07:57] christianbrb opened #2199 "I would like to have a ENS subdomain (eg. chris.raiden.eth)"
## User Story
As Chris I would like to have a ENS subdomain (eg. chris.raiden.eth) so that people do not have to type or copy my cryptic address.

## Acceptance criteria

## Remarks
- Guide on how to register an ENS subdomain: https://medium.com/@eric.conner/the-ultimate-guide-to-ens-names-aa541586067a

[2020-10-06 08:57] christianbrb commented on #1218
Monitoring service testing is going to be covered within the scenarios.

@weilbith Could you check if these are the improvements you are also talking about?

[2020-10-06 08:59] palango opened #2200 "Try GitHub code scanning"
## Description

GitHub integrated a new code scanning tool: https://github.blog/2020-09-30-code-scanning-is-now-available/

It is rules based and free to use, so we should give it a try, look at the results and decide if it's warnings are meaningful enough to use it.

## Acceptance criteria
-

## Tasks
- [ ] Enable code scanning on the repo
- [ ] Go through the results and evaluate results
- [ ] D

[2020-10-06 08:59] christianbrb commented on #1217
Currently we are adding Cypress GUI tests to the integration image.

As we are also starting to run the scenarios nightly (see #1977) I am closing the issue until we think it is necessary again.

[2020-10-06 08:59] #1217 closed

[2020-10-06 09:06] christianbrb commented on #1585
We are already doing this within #1584

[2020-10-06 09:06] #1585 closed

[2020-10-06 09:49] weilbith commented on #1218
I think there is general room for improvements. The build of the image feels incredibly huge and cumbresome. I feel like parts can be improved. Eventually we need to discuss if we need certain flexibilities in favor of a more simple setup. E.g. do we need the ability to get any commit of the Python client and always build it ourself with all dependencies etc or are we fine to just choose from thei

[2020-10-06 10:03] kelsos commented on #1218
@weilbith At some point, we were discussing introducing tests for WebRTC based transfers, and this would help in this case. If this is not the case anymore please feel free to remove that.

Btw the reason we initially went with building from commit, was because the public releases we could use where outdated. If I remember correctly during that period we also didn't have any nightly binaries we co

[2020-10-06 10:09] weilbith commented on #1218
I'll ask Andre. Was just asking since I don't know much about it. Thanks for elaborating!

As I said: we should analyze what the current state is, how has it evolved and do we still need it. I don't want to destroy things. Just as someone reading it the first time and asking questions. If there are good answers I'm fine. :smiley:
PS: I never wanted to follow `master`. But always settle on a specif

[2020-10-06 10:16] kelsos commented on #1218
If I can provide insight on anything let me know :)

[2020-10-06 13:05] christianbrb commented on #2091
Running on https://github.com/raiden-network/light-client/tree/feature/to_device
0. Update dependencies
1. Build SDK
2. Build CLI

[2020-10-07 17:18] andrevmatos opened #2204 "Implement toDevice capability"
## Description
After #2158, WebRTC  signaling is done through `m.room.message` events, which were the only thing preventing supporting Matrix messages exchange to be done over ToDevice messages, dismissing the need for the room create/invite/join roundtrips.
This kind of message is also lighter on servers, since they don't require state keeping (one of the biggest causes of constant synapse databa

[2020-10-07 17:34] andrevmatos opened #2205 "Adapt capabilities to new format"
## Description
On https://github.com/raiden-network/raiden/issues/6503, capabilities format was discussed in order to provide better backward and forward compatibility, by using query string encoded URL.
It also replaces the negative capabilities with their positive form and explicit defaults for when missing.
We must adapt our format in order to be compatible with python's implementation.
Superse

[2020-10-08 13:12] #2195 closed

[2020-10-08 13:12] #2204 closed

[2020-10-08 13:49] agatsoh opened #2209 "BF1 gets an error due to difference in the request_count for PFS"
## Description

[code]
Fails at `- assert_pfs_history: {source: 3, target: 0, request_count: 10}`

[code]
**scenario_player.exceptions.ScenarioAssertionError: Expected request_count 10 but got 11"**

We could change the request_count to 11 in our case because we might be dealing with the PFS slightly differently with from the
python client

## Acceptance criteria
-

## Tasks
- [ ]

[2020-10-08 13:51] #2205 closed

[2020-10-08 13:51] #1975 closed

[2020-10-08 13:53] andrevmatos commented on #2209
@agatsoh I just ran BF1 with latest `master`, it seem to be working now. Please, try again (don't forget to update dependencies and rebuild SDK and CLI).

[2020-10-08 14:00] andrevmatos commented on #2209
![image](https://user-images.githubusercontent.com/587021/95469021-7ed9b880-0955-11eb-9b34-e29430668b4d.png)

[2020-10-08 14:33] taleldayekh opened #2210 "Cypress: Add test for mediated transfers"
## Description
We need to add tests for not only direct transfers but also mediated ones.

## Acceptance criteria
-

## Tasks
- [ ] Figure out how to set up the e2e tests so that mediated transfers can be done in the dApp via Cypress.
- [ ] Increase the lock timeout of the Python client

[2020-10-08 14:40] agatsoh commented on #2209
ok i will try again

[2020-10-08 15:06] weilbith commented on #2186
Notes from our meeting and what we have written down/agreed on. @taleldayekh
@palango please correct me if I misunderstood something, presented wrong or
forgot.

### Goals

- Managing tests should become easy for the daily work of a developer.
- Tests should support the developer, giving him the freedom to change code, while making sure all requirements are still fulfilled.
- Tests of one unit sho

[2020-10-08 18:43] agatsoh commented on #2209
@andrevmatos  Unfortunately I tried a second time and I still get the same error
[code]

[2020-10-08 18:48] andrevmatos commented on #2209
@agatsoh Did you retry a previous run or restarted it in the middle for any reason? Are you double-sure you have re-built everything? This scenario includes a transfer which should fail before going to the PFS. This specific error only happens if it did try request the PFS (so +1 requests than should have been made). I ran the scenario 2x here on top of current master, and it didn't fail. Please,

[2020-10-08 18:54] andrevmatos commented on #2177
Ok, I did read the logs from our side, but couldn't get anything on hub's side. Looks like, while the events on the LC end at ~7h11am, the logs on the hub start at 9h05am. @weilbith can you check to get the logs from the proper time range from the hub, please?
From our side, what I could see that happened, is expected:
- after some transfers and successful withdraws
- LC was requested a new withdr

[2020-10-08 19:27] agatsoh commented on #2209
Yes everything upto-date with the current master.
This is what i did to install and build everything up
[code]
Let me know if I am missing something.
Yes and it seems only specific to me so may be my network also plays a part in this.
If you want you could close this and then we could open it if occurs again sometime.

[2020-10-09 00:14] andrevmatos commented on #1512
@christianbrb are there anything else to do for this issue? From what I see, we send the monitoring request as soon as possible when there's anything to lose, and debounce for a while if the transfer is pending but not unlocked. There should only be a minimal, unavoidable time window where the client may crash after a received transfer and before sending the MS.

[2020-10-09 01:57] andrevmatos commented on #2036
`transferChannelClosedEpic` got removed as part of #2110 . Closing.

[2020-10-09 01:57] #2036 closed

[2020-10-09 07:11] christianbrb commented on #1512
@andrevmatos Thanks for looking into this :)

I want to pull this into an iteration that we all understand and visualize how this is handled as this is an important topic.

[2020-10-09 07:18] christianbrb commented on #2209
@agatsoh Thanks a lot for documenting the issue :)

@andrevmatos Thanks for double-checking :)

Let's close the issue and check if it reoccurs during our nightly runs.

[2020-10-09 07:18] #2209 closed

[2020-10-09 09:16] weilbith commented on #2177
@andrevmatos to make this more specific: you need the logs from the 27th of September 2020 including the messages before and after 7am?
If so we have a problem: there are no log entries for that time. Doing a recursive grep with the format of the timestamp used in he logs I get no results (i.e. "grep -R "2020-09-27 07:" ./").

[2020-10-09 11:48] taleldayekh opened #2216 "Specify if ETH is on main account or subkey account"
## Description
If a user tries to i.e. withdraw tokens without having any ETH on the subkey account the withdrawal will fail. This is easily missed because a user might confuse the main account ETH and subkey account ETH.

## Acceptance criteria
- Specify which account the ETH balance is on, i.e. `Subkey ETH` instead of just ETH.

<img width="595" alt="Screenshot 2020-10-09 at 13 42 16" src="https

[2020-10-09 11:57] andrevmatos commented on #2216
For me, it's clear that ETH belongs to that address. Maybe instead we should just replace the `Account` header with `Raiden Account` when subkey is enabled, or something like that. I remember @christianbrb was quite against showing mainnet ETH balance there, since the user can see it in Metamask popup.

[2020-10-09 12:01] taleldayekh commented on #2216
Ok, yes displaying `Raiden Account` would also be fine imo, but I don't think there is any harm in being explicit. Just an easy way to quickly make sense of things. After using the Raiden account all the time you'll stop even thinking that a main account even exists.

[2020-10-09 12:08] andrevmatos commented on #2177
@weilbith the logs on the LC side goes from `2020-09-28T06:44:14` to `2020-09-28T07:11:21`. But anyway, it's very weird not to have logs available. Is there any kind of log rotation available? Isn't the hub running 24/7?

[2020-10-09 12:12] #2078 closed

[2020-10-09 12:16] christianbrb commented on #2177
@andrevmatos I hope, that I haven't confused you. There two logs of the dApp for the two issues. I have attached the logs of the second issue to the description of this issue now. No update for the Hub from my side.

[2020-10-09 12:20] andrevmatos commented on #2177
No confusion, I'm checking the logs on this issue, and there's no time intersection between the logs from the dApp and the hub. Thore said there're no logs on the hub for this time frame, which is very weird, it's harder to debug a raiden-py issue without logs.

[2020-10-09 12:25] weilbith commented on #2177
@andrevmatos if you could give me the fingerprint of a SSH key you control, I could give you access to the hub and point you to the logs directory. I think that is more efficient.

[2020-10-09 12:45] palango commented on #2177
@andrevmatos Sorry for missing the comment. I'm looking into it and will update you as soon as I have looked into the python client

[2020-10-09 13:10] christianbrb opened #2219 "I want to know which account does not have enough eth"
## User Story
As Chris I want to know which account does not have enough eth so that I know what to do.

## Acceptance criteria

## Tasks

[2020-10-09 13:11] christianbrb opened #2220 "I want to know, that I have to withdraw the tokens from the UDC on the UDC screen"
## User Story
As Chris I want to know, that I have to withdraw the tokens from the UDC on the UDC screen so that I am not getting confused.

## Acceptance criteria
- It should follow the design
- The information area on the top is not getting implemented
- We use the already existing color-variables (incl. new account screen button colors)
- No text is smaller than 12px
- User Contract Deposit Bal

[2020-10-09 13:14] christianbrb opened #2221 "Disable mainnet by default"
## Description
Disable mainnet by default and enable if needed

## Acceptance criteria
-

## Tasks
- [ ]

[2020-10-09 13:15] christianbrb opened #2222 "Fix the CI in GitHub release build to build the for the correct environment"
## Description
Fix the CI in GitHub release build

The release should be built for the staging ghpages environemnt
It was working for the staging environment.

## Acceptance criteria
-

## Tasks
- [ ]

[2020-10-09 13:25] christianbrb commented on #1977
@palango to provide the logs for the out of memory failure @andrevmatos to support :)

[2020-10-09 13:32] christianbrb commented on #2177
@palango to create an issue on the Raiden python repo to reproduce the issue in an integration test.

[2020-10-09 13:33] #2108 closed

[2020-10-09 13:41] christianbrb opened #2223 "Update the integration image"
## Description
Update the in integration image
- [x] Geth node
- [x] Pathfinding service
- [x] Synapse

## Acceptance criteria
-

## Tasks
- [ ]

[2020-10-09 13:48] christianbrb commented on #2216
@taleldayekh to create bug issues for the ETH on the UDC screen. Please also check the Withdrawal screen.

[2020-10-09 13:49] christianbrb commented on #1487
Adding an explanation for the sub account ETH

[2020-10-09 13:57] taleldayekh opened #2224 "UDC withdrawal dialog displays main account ETH when subkey account is used"
## Steps to Reproduce
1. Connect using subkey.
2. Navigate the UDC screen.
3. Click to make a withdrawal.

## Expected Result
- To see the current ETH balance on the subkey/Raiden account displayed in the dialog.
- I need to understand that the ETH balance belongs to my Raiden Account
- **Reminder**: Make sure that for the Deposit dialogue the ETH balance of the main account needs to be shown

##

[2020-10-09 14:01] christianbrb commented on #1790
Proposal: Disconnect from Wifi and check when the SDK is crashing

[2020-10-09 14:02] #2091 closed

[2020-10-09 14:07] palango commented on #1977
[code]

[2020-10-09 14:14] palango commented on #2177
@christianbrb Do you remember how big the withdraws were in relation to the channel balance and deposits?

[2020-10-09 14:21] palango commented on #2177
Isse in Python client: https://github.com/raiden-network/raiden/issues/6599

[2020-10-09 14:29] christianbrb commented on #2177
@palango The withdraw was 0.0001 TTT and the prior SetTotalDeposit was the same 0.0001 TTT.

I've analyzed this by looking at the transactions: https://goerli.etherscan.io/address/0xb808877b5ec745183bd60ce8c89aba83011d56f6

[2020-10-09 14:49] palango commented on #2177
Mh, that explains it. @andrevmatos

- Channel has a balance of 1T
- We're at the state before the withdraw that was interrupted. LC sends the withdraw request for 1T to the PC (python client)
- The PC stores the withdraw in it's `pending_withdraws` list and sends the confirmation
- The LC never goes on-chain, so the pending withdraw stays in the list.
- A transfer is send and changes nothing to th

[2020-10-09 15:00] andrevmatos commented on #2177
The problem IMO is that it shouldn't deduce pending `offchain_total_withdraw` from the deposits to calculate the balance: `total_withdraw` is a monotonic value; from what I can see, PC is including current `offchain_total_withdraw` in the value which it calculates as potential withdraw for partner; if I had a deposit - transferred of 5T (balance), a `offchain_total_withdraw` of 3T, I should be abl

[2020-10-09 15:04] andrevmatos commented on #2177
For this, `balance` and `totalWithdrawable` should be different values (and this is how we calculate it on the LC):
- `balance`: used to calculate how much partner can transfer to/through us) must also deduce `offchain_total_withdraw` (pending), or else they could steal from us
- `totalWithdrawable` (withdraw balance): used to calculate how much partner can withdraw, must not deduce current/pendin

[2020-10-09 15:04] palango commented on #2177
That makes sense, so the PT should just sign the request again, because it doesn't do any harm.

[2020-10-09 15:06] andrevmatos commented on #2177
Yes, exactly. As long as the request doesn't "steal" from PC, and this new pending request is accounted for future transfers, PC should accept and sign this request.

[2020-10-09 15:42] andrevmatos commented on #1977
These are some weird errors.. I remember seeing something like that only when @eorituz was trying to transpile the SDK on the rPi.. our typesystem compilation is quite memory-intensive. It shouldn't occur on desktop/servers. Is there any memory constraint on the container or the host?

[2020-10-09 16:02] #2196 closed

[2020-10-10 19:17] andrevmatos opened #2227 "cli: fix wrtc bugs biting us"
[wrtc](https://github.com/node-webrtc/node-webrtc) is a NodeJS native module providing WebRTC on this environment. It's very fast (written in C++) and provides the same interface as browser's WebRTC objects, allowing us have a single codebase supporting both environments. There're though some bugs on this module which can become a bigger issue if `raiden-cli` is intended to be a major client on se

[2020-10-10 19:28] andrevmatos commented on #2227
A (possibly more complex) alternative is to replace `wrtc`. There're not many alternatives, but maybe the [go webrtc](https://github.com/pion/webrtc) + `wasm` could provide a transparent replacement.

[2020-10-10 20:04] andrevmatos commented on #2227
[Someone reported](https://github.com/node-webrtc/node-webrtc/issues/643#issuecomment-669017195) the situation may be better on Node14. We should test.

[2020-10-12 07:14] christianbrb opened #2228 "Fix issues discovered during the audit"
## Description

During the audit, @hackaugusto identified a bunch of issues we need to fix.

See https://github.com/raiden-network/light-client/issues?q=is%3Aopen+is%3Aissue+label%3A%22audit+%E2%9B%8F%EF%B8%8F%22

This is a placeholder issue to make the product backlog management easier.

## Acceptance criteria
-

## Tasks
- [ ] Go through remaining issues and schedule for implementing or close th

[2020-10-12 07:15] christianbrb commented on #1955
I assume this is fixed as the Raiden client is going to use the Light Client approach.

@andrevmatos Please reopen, if this is not the case.

[2020-10-12 07:15] #1955 closed

[2020-10-12 07:55] christianbrb commented on #2177
@andrevmatos @palango Thanks for the great joint analysis :)

I am closing the issue as it is getting solved within the python client (see raiden-network/raiden#6599)

[2020-10-12 07:55] #2177 closed

[2020-10-12 08:14] christianbrb commented on #2228
@andrevmatos Could you please check, if we need to fix all of them?

I think you have mentioned, that at least the ones I have copied from the internal repo are not valuable to fix (see https://github.com/raiden-network/light-client/issues?q=is%3Aissue+is%3Aopen+label%3A%22audit+%E2%9B%8F%EF%B8%8F%22+author%3Achristianbrb).

We should close all audit issues which we do not need to tackle before ma

[2020-10-12 08:18] ezdac opened #2229 "Nonce mismatches for LockedTransfer message"
I am still getting Nonce mismatches when using the dApp to do direct transfers with a Raiden python node.
Corresponding Python Raiden node log entry:

[code]

## Steps to Reproduce
1. Used the `lightclient.raiden.network/staging` across several versions, clicking the refresh button on version updates
2. Due to previous nonce mismatches closed a channel with transaction partner.
3. Opened a new fun

[2020-10-12 11:13] palango commented on #1977
I tried increasing the node memory to 6GB, but it still fails:
[code]

[2020-10-12 12:00] weilbith opened #2231 "dApp: Refactor RaidenService module"
## Description

As pointed out in the conversation of #2186 the team has agreed to refactor the `RaidenService.ts` module.  The tests for this module have become so messy, that nobody has neither an overview, nor understand what actually happens in terms of mocking. Moreover have the recent design adjustments to the notifications shown that also extending the RaidenServices module itself has becom

[2020-10-12 12:01] weilbith commented on #2179
Superseeded by #2186

[2020-10-12 12:01] #2179 closed

[2020-10-12 12:03] weilbith commented on #2137
Related to #2186

[2020-10-12 15:07] christianbrb commented on #1874
[WIP]

Trying to describe my process to make it reproducible

Process collecting the data:
1. I have pulled the historical rates for WETH/USD, DAI/USD and RDN/USD to [this google sheet](https://docs.google.com/spreadsheets/d/1U1vOtUQdavuEHAXQ33p9WyTuViaHzL4s9Dnd9ejJBhE/edit#gid=569930139).
2. I have done the calculation for eg. `DAItoSVT` like this -> `DAItoSVT = DAItoUSD / RDNtoUSD`

We have got

[2020-10-13 09:45] christianbrb opened #2233 "UDC withdrawal transfers to the Raiden Account and not to the Main Account"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Deposit tokens to the UDC
2. Withdraw 10 tokens from the UDC
3. Wait for the transaction to be confirmed (https://goerli.etherscan.io/tx/0x8ab3af27d017b67b607b95c474c02ed31a760ce59d594dad628e0d4cd4d0996a)
4. Wait another 100 blocks

## Expected Result
- I see the tokens within my main account (https://goerli.etherscan.io/address/0xB80

[2020-10-13 10:05] ezdac commented on #2229
Update:
I am also getting this after using a completely new Subkey and base account, after 16 successfully sent `LockedTransfers`. Note, that I could be closing the app quickly after / during the successful transfer notification popup shows.

[2020-10-13 10:07] palango commented on #880
The only problem I see with this approach is that the user might not know/understand how to stop the application properly. The same happened with the wizard running as a bundle from a terminal.

[2020-10-13 10:14] kelsos commented on #880
I don't see how that is a problem. This could be easily solved if you add a terminate endpoint to the "server" and some packaged mode customization so that the user can terminate the server directly from the dApp. I think the WebUI is doing a similar thing with the python client already.

[2020-10-13 10:16] kelsos commented on #880
Btw the server doesn't have to be node either, you could easily do a small flask backend packaged with PyInstaller that can produce binaries for Linux/OSX and Windows.

[2020-10-13 10:52] andrevmatos commented on #2233
I think UDC withdraw doesn't support a beneficiary account, so the tokens can only go to the holder (subkey) account, and need to be withdrawn from there.

[2020-10-13 11:10] palango commented on #2233
That's true. We can create an issue, but for mainnet this cannot be changed.

[2020-10-13 11:47] weilbith opened #2234 "dApp: Adopt Jest configuration to use Babel correctly for Vuetity a la Cart"
## Description

In #2186 we decided to try using Vuetify a la Cart, so we can stub Vuetify components with themselves while still using `shallowMount()`. To make this working, we need to adopt the Jest setup load the components correctly. So far I was not able to fix that, although having followed many tips in diverse issue conversations.

## Acceptance criteria
- Jest can handle imports like `imp

[2020-10-13 11:49] weilbith commented on #2186
I was not able to make the Vuetify a la Cart working with Jest so far. Since the main task of this issue is done and I don't want to have this issue lying around while working on more urgent stuff, I opened [an issue](https://github.com/raiden-network/light-client/issues/2234) for that. Else every tester can take the `tests/unit/components/token/*` test files as inspiration. They already follow mo

[2020-10-13 11:49] #2186 closed

[2020-10-13 11:53] weilbith commented on #1584
The `Dockerfile` for the e2e tests is huge. Therefore I'm asking you @kelsos in the meantime. I don't understand how the following is possible: I start a new container based on this image. I test the light client and do some transactions etc. I stop and remove the container again. I restart that procedure. Now I can observe that the old blockchain data is still there. I take the oncounting block n

[2020-10-13 12:02] kelsos commented on #1584
By old blockchain data do you mean that the block number is not zero and there are some data there?. If that is the case then that is how things are supposed to be. The block number should not be zero. When the image is build, the raiden contracts are deployed and a channel is opened between two python raiden nodes. Geth's state is then stored in the new image.

Each new container when started  sh

[2020-10-13 12:16] weilbith commented on #1584
No, unfortunately not. That is what we know.
Let's say that after the image is built, the Geth node is at block number 200. Then we start a container based on this image. We connect the light-client to it and use it a bit. Now  we are at block 230. There are open channels written to the state of the contract etc. Now stop and remove the container. Start a new one based on the same image as before.

[2020-10-13 12:19] kelsos commented on #1584
Do you properly delete the previous container? I remember always stopping, then deleting the container and then creating a new one.

[2020-10-13 12:21] kelsos commented on #1584
I am probably asking stupid things, let me check the previous code and changes a bit maybe I can get an idea

[2020-10-13 12:26] weilbith commented on #1584
@kelsos Don't waste your time. I can do this in the time I'm getting payed for. I just thought asking would be helpful.

[2020-10-13 12:29] kelsos commented on #1584
@weilbith ok no worries. By checking I can see that you use the `--rm` flag now with docker so the image is supposed to be deleted when the execution terminates any change that the image is not getting deleted for some reason? maybe it doesn't stop properly so rm fails?

[2020-10-13 12:31] weilbith commented on #1584
I'm 100% sure container is removed.
I do now a actual analysis of this. I try to reproduce what Talel saw in the light client with pure RPC requests and manual docker control.

[2020-10-13 12:34] kelsos commented on #1584
Ok, but in general giving a quick look at the changes, there is no reason why the state would persist when the image is removed.  It didn't before and I didn't see any change in the Dockerfile that would change that.

[2020-10-13 12:43] weilbith commented on #1584
Wait what? Why should I remove the image? Only the container based on the image should get removed. Then a new container gets started based on this image.

---

Anyways. I could not reproduce the issue with the following test:

- start container manually
- query block number via direct RPC requests (ongoing number from ~230)
- stop and remove the container manually
- start the container manually a

[2020-10-13 12:45] kelsos commented on #1584
Sorry I meant container

[2020-10-13 12:46] weilbith commented on #1584
Thanks for your help. Was a nice feeling to have you on board for some minutes. :hugs:

[2020-10-13 12:50] weilbith commented on #1584
Just for the protocol: what affected my confused mind was that Talel stated that if he rebuilt the image from scratch (apparently some layer caching is not working) this was working fine again. So I first thought the issue can't by at Cypress then...

[2020-10-13 12:52] weilbith commented on #1584
But eventually the re-build just causes the new persitent layer to create a new DB. Talel his electron app was pretty cluttered already.

Since also the script works fine (replaced the run of Cypress with two times quering the block number via RPC), it must be something with Cypress and how the dApp parses the old state in contrast to what the Eth node says.

[2020-10-13 15:19] christianbrb opened #2237 "RDN tokens not shown on the token withdrawal screen on mainnet"
## Thanks for filing a bug report :-)

Reported by @jjjseee

## Steps to Reproduce
1. Deposit RDN to the UDC
2. Withdraw tokens from the UDC
3. Wait 100 blocks
4. Check etherscan if the withdraw-transaction has been completed for the Raiden Account (in this case: https://etherscan.io/tx/0x9aa881340667f0d81c9e1b5c25e963c38b30e4be5b58aa500a42471957b95a66)

## Expected Result
- I see the RDN tokens o

[2020-10-13 16:02] eorituz opened #2238 "Raiden-CLI doesn't return transaction request"
## Steps to Reproduce
1. Using master at commit `758f7e4dc0024ff0410289ef418b66c87ba5df00`
2. Send payment
[code]
3. Payment request should never return

##Raiden Sender Logs
[raiden.log](https://github.com/raiden-network/light-client/files/5372592/raiden.log)

## Proof of successful payment
[code]

## Expected Result
- Payment request returns after successful payment

## Actual Result
- Payment s

[2020-10-13 18:33] andrevmatos commented on #2238
Just tested here, and it _works for me™_. Please, make sure your clients are all at latest master commit (your linked commit comes before the capabilities adjustments, so you may have been gotten with incompatible versions there), and don't forget to:
1. update dependencies
2. build sdk (it's not built automatically on `pnpm install` anymore)
3. build cli

[2020-10-13 18:42] weilbith commented on #1584
Quick update: Talel told me that actually applying the manual delete of the database in the support index script is doing the job. [Here](https://github.com/cypress-io/cypress/issues/1208) is the issue of Cypress discussing the problem and providing the suggestion.

[2020-10-13 19:43] quantuminformation commented on #1584
Good luck with that, I've been fighting it all day )

[2020-10-14 00:58] andrevmatos commented on #2229
Ok, this issue is in our side. I've seen it before while debugging and implementing #2174. Looks like a bug has been triggered by some weird behavior possibly on matrix client library, where **only when** using room messages/invites system, it enters some form of infinite loop or thrashing, which slows down **a lot** the event loop handling and callbacks, making RxJS, epics and even normal callbac

[2020-10-14 06:36] christianbrb commented on #2227
Is this resolved or accidentally closed?

[2020-10-14 08:20] palango commented on #1977
@christianbrb Only the cron job is missing. I hope to fix that today and will then close it

[2020-10-14 08:25] christianbrb commented on #1977
Cool, thanks for the update :)

[2020-10-14 08:43] weilbith commented on #1977
@palango
Just we talked about it this morning and you said eventually Systemd is a better fit than Cronjob, but you don't know how. Here is a tiny help for you:

`scenarioplayer.service`
[code]

`scenarioplayer.timer`
[code]

Store those files somewhere. Important is that they share the same base name!

[code]

If you are no root and act as a normal user you can use `--user` for the Systemd user e

[2020-10-14 09:01] eorituz commented on #2238
Mhh Updated both clients to commit `c666432af0ba53e9aa3972b17351048ec91b4d8c`.
Unfortunately, I still have the issue of not returning payment requests.
[code]
Sender logs:
[sender.log](https://github.com/raiden-network/light-client/files/5376924/sender.log)
Receiver logs:
[receiver.log](https://github.com/raiden-network/light-client/files/5376931/receiver.log)

Both clients indicate that the trans

[2020-10-14 09:05] palango opened #2239 "Scenario failure [13/10/20]: BF1 - Expected request_count 11 but got 10"
## Thanks for filing a bug report :-)

During the nightly run the BF1 scenario failed.

Looks like this is related to https://github.com/raiden-network/raiden/pull/6613 as it passed the run before.

[code]

Logs:
[scenario-player-run_bf1_basic_functionality_2020-10-13T14:25:29.log.gz](https://github.com/raiden-network/light-client/files/5376949/scenario-player-run_bf1_basic_functionality_2020-10-1

[2020-10-14 09:07] palango opened #2240 "Handle ETH node connection problems gracefully"
## Thanks for filing a bug report :-)

During the nightly run the PFS8 scenario failed.

Might be related to https://github.com/raiden-network/raiden/issues/6612

The light client seems to have crashed and returned a 500 error code
[code]

Logs:
[scenario-player-run_pfs8_mediator_goes_offline_2020-10-13T16:24:55.log.gz](https://github.com/raiden-network/light-client/files/5376971/scenario-player-r

[2020-10-14 09:19] palango opened #2241 "Run scenarios on a daily schedule"
Currently the scenario runs are started by hand.

We should run them automatically scheduled by cron.

[2020-10-14 09:20] palango commented on #1977
Mostly works, scheduling is tracked in #2241

[2020-10-14 09:20] #1977 closed

[2020-10-14 09:21] christianbrb opened #2242 "Nightly failing within test_sdk_e2e"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Run the [nightly workflow](https://app.circleci.com/pipelines/github/raiden-network/light-client/7145/workflows/ee873fae-e89a-4723-99fc-77fc62e38e17)

## Expected Result
- The nightly run is successful
- Exit nodejs event loop to exist cleanly
- Workaround: Enable the option ForceExit in Jest on this specific test suite

## Actual Res

[2020-10-14 09:23] palango opened #2243 "Enable performance analysis tool for scenario runs"
## Description

The scenario player has a tool that calculates performance metrics for each scenario. We should enable this for the light client as well.

This might be as easy as just running it on the logs or having to adjust some regexes.

## Acceptance criteria
- Have the script run for each scenario and log the results to rocket chat

## Tasks
- [x] Research if the script works on node or sce

[2020-10-14 09:30] christianbrb commented on #1584
The Cypress tests have been implemented and @taleldayekh has shown the progress on his local machine.

Closing this issue to get better organized to talk about it in more detail within the planning.

[2020-10-14 09:30] #1584 closed

[2020-10-14 09:32] christianbrb opened #2244 "Run the Cypress tests nightly in the CI on the E2E env"
## Description
Follow up to #1584

Run the Cypress tests nightly.

## Acceptance criteria
-

## Tasks
- [ ] Finish the draft PR #2232
- [ ] New docker image

[2020-10-14 09:36] christianbrb opened #2245 "Versioning of Docker images (especially those used with CircleCI)."
@weilbith to provide details

[2020-10-14 10:37] agatsoh commented on #2237
The withdraw tokens screen after withdraw

![withdraw_tokens_screen](https://user-images.githubusercontent.com/15123108/95977772-e05ac500-0e36-11eb-965e-0b092569252d.png)

![withdraw_function_call_etherscan](https://user-images.githubusercontent.com/15123108/95978083-52cba500-0e37-11eb-81a0-dfeefb60cb29.png)

![rdn_balance_raiden_account](https://user-images.githubusercontent.com/15123108/95978100

[2020-10-14 12:29] palango commented on #2227
Closed by accident

[2020-10-14 13:41] christianbrb commented on #2239
@karlb Could you please have a look at it. Thanks :) @andrevmatos has got details about it.

[2020-10-14 13:54] andrevmatos commented on #2239
@karlb Looks like you guys removed local routing, and changed the expected `request_count` to 11. We don't have local routing, and had it passing before, because even without full network topology, on this specific case, the node **can know** no local channels are eligible for the requested transfer, and fail before wasting a PFS request which we could know wasn't possible anyway.
The reason the s

[2020-10-14 14:30] andrevmatos commented on #2240
@palango The SP logs aren't very useful here. Can you please provide the `.log` files from the clients?

[2020-10-14 14:37] palango commented on #2240
@andrevmatos This is the end of the logs of node 0, to whom the request went:
[code]

Here are all node logs:
[node_logs.zip](https://github.com/raiden-network/light-client/files/5378919/node_logs.zip)

[2020-10-14 14:55] #2221 closed

[2020-10-15 07:16] christianbrb opened #2258 "Scenario Player monitoring in a different RC channel"
## Description
Currently, the Python client scenarios and the LC scenarios are sending their output to the same RC channel. This makes it very difficult to read. Move the LC scenario monitoring to a separate channel.

## Acceptance criteria
-

## Tasks
- [ ]

[2020-10-15 07:35] christianbrb opened #2259 "Receiving disabled notification is not shown"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Go to https://lightclient.raiden.network/staging
2. Check your UDC balance
3. If the UDC balance is > 0 withdraw the tokens

## Expected Result
- The note is shown, that receiving is disabled
- The note is shown in the notification screen

![grafik](https://user-images.githubusercontent.com/35398162/96091050-5c055200-0ec9-11eb-8cca-d6

[2020-10-15 10:21] weilbith opened #2262 "Remove forceExit flag for E2E test of the SDK in CircleCI"
## Description
To fix #2242 we introduced a temporally fix with #2261 that is "hiding" this error to make the CI pipeline working again.
This can only happen when the origin issue with #2227 has been resolved.

## Acceptance criteria
- WebRTC bug was fixed as requirement
- The `--forceExit` got removed at the `test_sdk_e2e` job at CircleCI

## Tasks
- [ ]

[2020-10-15 11:20] agatsoh commented on #2237
On the mainnet RDN still does not appear on the withdrawal screen

![rdn_withdrawal_screen](https://user-images.githubusercontent.com/15123108/96116700-81648100-0f06-11eb-9225-10ad46f5bd79.png)

[2020-10-15 11:37] agatsoh commented on #2237
latest test
![Uploading withdraw_tokens_screen_latestg.png…]()

[2020-10-15 11:54] palango commented on #1976
After the synapse update this information is now json encoded: https://raw.githubusercontent.com/raiden-network/raiden-service-bundle/master/known_servers/known_servers-production-v1.2.0.json

[code]

@christianbrb Do we need to update some environment for those changes?

[2020-10-15 12:04] christianbrb commented on #2237
It does not seem to work on mainnet. Reopening.

@taleldayekh Could you please have a look, thanks :)

[2020-10-15 12:10] palango opened #2263 "Use correct server list for mainnet"
## Description

Currently the list of available matrix servers is hard coded to the list of goerli testnet servers.
https://github.com/raiden-network/light-client/blob/c79d70f93b71d9d11c83c1c7403615d43811df7f/raiden-ts/src/config.ts#L116-L117

Depending on the network the list should be adapted.

## Acceptance criteria
- Use the correct server lists for at least goerli and mainnet

## Tasks
- [ ]

[2020-10-15 12:39] #2242 closed

[2020-10-15 12:54] palango commented on #2240
This happened again in todays BF3 scenario:
[code]

[2020-10-15 13:19] eorituz commented on #2238
@andrevmatos thank you for having a look at it.

Reinstalled the light-client on both machines using the latest master and the Tx work as expected.

[2020-10-15 13:19] #2238 closed

[2020-10-15 14:14] #2222 closed

[2020-10-15 14:16] andrevmatos commented on #2263
It was dynamic before, but it got removed when we disabled mainnet support. It's on a `makeDefaultConfig` which receives the current `network`, so it's just a matter of changing the list URL on a per-network basis.

[2020-10-16 09:33] karlb commented on #2239
Our though was that asking the PFS was acceptable (although not optimal in this case) and the quick and simple way was to allow this in the scenario. We still have to get used to the fact that the light client is running the same scenarios :-)

Adding the same optimization to the python client should not be too hard, so I guess that is what we will do to resolve this.

[2020-10-16 10:44] #1976 closed

[2020-10-16 11:32] #2263 closed

[2020-10-16 11:41] taleldayekh commented on #2244
Closed in #2232

[2020-10-16 11:41] #2244 closed

[2020-10-16 12:18] christianbrb opened #2269 "Staging is not working"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Go to https://lightclient.raiden.network/staging

## Expected Result
- I see the dApp

## Actual Result
- I don't see the dApp
![grafik](https://user-images.githubusercontent.com/35398162/96257276-5b001d80-0fba-11eb-92f0-7bf707d0b2bd.png)

## Additional Infos (Optional)
[code]

[2020-10-16 15:24] #2269 closed

[2020-10-19 14:03] palango commented on #2241
Fixed by https://github.com/raiden-network/scenarioplayer.ci.raiden.network/pull/5

[2020-10-19 14:03] #2241 closed

[2020-10-19 14:33] #2239 closed

[2020-10-19 14:54] andrevmatos commented on #2240
Better reading node0's logs, I found the culprit:
[code]

This error is a network error while communicating with the ETH node (like the others we've been fixing, as part of #1790). More specifically, looks like a DNS resolve issue on the VPN/private network. I've worked around it locally by using a DNS caching service on my machine.

I've seen these errors before, and have fixed the places on "nor

[2020-10-19 15:40] weilbith commented on #2237
Sorry. I linked my PR to the wrong issue. :see_no_evil:

[2020-10-19 15:41] #2224 closed

[2020-10-20 08:45] weilbith commented on #2216
@taleldayekh this was "accidentically" resolved by the recent PR, wasn't it?

[2020-10-20 09:32] taleldayekh commented on #2216
@weilbith Yes, you fixed that so it makes sense closing this issue.

[2020-10-20 09:34] #2216 closed

[2020-10-20 10:10] taleldayekh opened #2274 "Add Cypress tests for closing/settling channel"
## Description
Currently, we are lacking one test in our Cypress e2e setup, closing/settling channel.

## Acceptance criteria
- We want to have a shorter default settlement timeout (as low as 20) to reduce the run time of the tests.
- The settlement and reveal timeout is set to 20 blocks.
- We do not implement the direct mining of a given block

## Tasks

[2020-10-20 10:18] agatsoh opened #2275 "MetaMask - RPC Error: execution reverted: deposit not increasing"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Deposit tokens to the UDC
![udc_deposit_screen](https://user-images.githubusercontent.com/15123108/96572378-60c36f00-12ea-11eb-9bf3-51c9d91ee8cb.png)

2. Withdraw tokens from the UDC. They would get withdrawn to the raiden account. These tokens are kept as it is in the raiden account.

3. Again deposit to the UDC. The UDC has 0 SVT to

[2020-10-20 11:18] andrevmatos commented on #2275
Thank you, Sohan, for this report. This is something simple which slipped through our eyes.
On https://github.com/raiden-network/light-client/blob/aa524a2f0ab4a5c30ba1e20163ad5b0a6d65796d/raiden-ts/src/raiden.ts#L1202 we're fetching UDC balance as seen by `latest$`, which is the `effectiveBalance`. For the deposit, we must instead calculate the new total deposit based on the UDC's `total_deposit`

[2020-10-20 11:41] #2237 closed

[2020-10-20 13:32] karlb opened #2276 "Not all elements reachable on mobile Firefox"
When using https://lightclient.raiden.network with Android Firefox 81.1.2, I can't reach all elements of the UI (e.g. the checkboxes and "Accept" button on the first page, see screenshot).

![Screenshot_20201020-152612](https://user-images.githubusercontent.com/144773/96592958-45a42f80-12e9-11eb-8447-bd6610e5381d.png)

Selecting the "Desktop site" option in Firefox allows me to reach all UI elemen

[2020-10-20 16:41] #2275 closed

[2020-10-21 11:45] andrevmatos opened #2278 "Ditch demo001 and use raiden test servers"
## Problem
We introduced demo001 in order to be compatible with Raiden-py on a time where we were running behind and it was moving too fast. Now, we're already compatible, and their infra allows better testing, is more up-to-date, contains multiple-servers federation and allows testing with other raiden-py nodes.

## Solution
We should shut down our demo001/testenv001 servers and default to using

[2020-10-21 11:55] palango opened #2279 "Investigate performance gains when using native/wasm for packing and signing"
## Description

In this [presentation](https://www.youtube.com/watch?v=LyducxeYWJI&t=10800) the presenters talk about their experience with state channels and node.js. They mention some performance pitfalls and their solution is using native/wams for performance critical sections.

The repo in question is here: https://github.com/statechannels/native-utils

## Acceptance criteria
- Decision if we

[2020-10-21 12:45] #2259 closed

[2020-10-21 14:40] taleldayekh commented on #2210
We have a new issue that covers the remaining Cypress tests #2274 .

[2020-10-21 15:29] #2276 closed

[2020-10-22 08:44] taleldayekh opened #2285 "Add custom Cypress attributes to selectors"
## Description
Currently, we are accessing all elements via our class selectors. This has the consequences that if we change a class name in our code it will break the Cypress e2e tests and there is no easy way to catch this early on.

We should add custom attributes to all elements which are used in Cypress. See Cypress and Vuetify docs for more details:
https://docs.cypress.io/guides/references/

[2020-10-22 12:22] taleldayekh commented on #2219
I think this one got solved in #2273 by @weilbith so I will go ahead and close this issue.

[2020-10-22 12:22] #2219 closed

[2020-10-22 12:24] taleldayekh commented on #2220
@christianbrb Not very obvious how to best solve this atm. Was thinking about the problem today and also discussing a bit with @weilbith . We decided to push this to when @sashseurat is back from vacations to discuss possible solutions with her.

[2020-10-22 14:32] #2229 closed

[2020-10-23 13:18] taleldayekh commented on #2178
@sashseurat Design?

[2020-10-23 13:18] taleldayekh commented on #2220
@sashseurat Design?

[2020-10-23 13:24] taleldayekh commented on #1834
@christianbrb Do we want to solve this before mainnet? Is this even solvable without rethinking the flow of the dApp?

[2020-10-24 02:03] #1614 closed

[2020-10-26 08:35] christianbrb commented on #1834
We should at least try to make it better.

[2020-10-26 08:36] christianbrb commented on #2278
Makes sense from my perspective :)

[2020-10-26 12:07] #2240 closed

[2020-10-27 06:48] agatsoh opened #2293 "PFS2 Error performing REST-API call: open_channel"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

The logs will be updated shortly
Scenario pfs2_simple_no_path Failed
## Expected Result
-

## Actual Result
-

## Tasks
- [ ] Giving the whole light client team access to the logs @palango

[2020-10-27 09:45] christianbrb commented on #2243
@palango This is already working, right?

[2020-10-27 10:02] weilbith commented on #2068
What happens when I do the following:
- I run the SDK on chain `a` and produce data
- I stop the SDK
- I run the SDK on chain `b` but provide it the data of the last run on chain `a` during creation

[2020-10-27 12:41] palango commented on #2243
Yes, the basics work.

There is a feature that automatically detects how many hops a transfer had and displays that as well. That needs some further investigation to work again.

[2020-10-27 12:42] christianbrb commented on #2243
@palango Thanks :)
I think this is fine for the moment :)

[2020-10-27 17:16] #2243 closed

[2020-10-28 08:32] agatsoh opened #2294 "BF1 gets Requested target is offline message"
## Thanks for filing a bug report :-)
28Oct2020
## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
[code]
Logs have to be uploaded

[2020-10-28 09:49] palango commented on #2274
@taleldayekh I opened a bug for the issue we found in the python client yesterday: https://github.com/raiden-network/raiden/issues/6632

[2020-10-28 10:55] andrevmatos commented on #2294
Hmm, this is caused by the presence bug. We did decrease it by a lot with our workarounds, but seems it still got triggered somehow, maybe because of other parallel runs.

[2020-10-28 13:16] christianbrb commented on #2293
Might be related to the retry async solution

@palango to attach the logs

[2020-10-28 13:28] christianbrb commented on #2294
Issue might be in the PFS due to the matrix presence bug.

[2020-10-28 13:49] #2081 closed

[2020-10-28 13:50] christianbrb commented on #2068
@andrevmatos to provide details and close it

[2020-10-28 13:50] christianbrb commented on #2067
Closing -> see https://github.com/raiden-network/light-client/issues/2067#issuecomment-674300319

[2020-10-28 13:50] #2067 closed

[2020-10-28 13:54] christianbrb commented on #2228
We went through all the issues and checked the once being security-related and relevant for the mainnet release. Closing.

[2020-10-28 13:54] #2228 closed

[2020-10-28 14:12] andrevmatos commented on #2068
So, the `RaidenState` contains the `chainId` and `registryAddress` for which it was initialized. If you try to launch SDK with different values for any of them, it'll fail to start. This is what you'll get if you try to do what you said. `chainId` and `tokenNetworkAddress` is also checked for any incoming message, and it'll be rejected if it doesn't match, therefore this is a non-issue.

[2020-10-28 14:12] #2068 closed

[2020-10-29 11:41] agatsoh opened #2296 "BF1,2,4,6,7 PF6,9 gets Insufficient balance (0.23356111006324348 Eth) in account"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-

`Insufficient balance (0.23356111006324348 Eth) in account 0x8f5EA3Bb3E99C317b8745918F6973f7AfBF659c3 on chain “5” - it needs additional 0.2664388899367565 Eth (that is 266438889936756531 Wei).`
Likely all the failures have a common cause
## Additional Infos (Optional)
[code]

[2020-10-29 13:20] palango opened #2297 "Make unsafe (remaining lock timeout < reveal_timeout) transfers traceable"
In #2210 we had some problems because the python client didn't continue a payment that it deemed unsafe (remaining lock timeout < reveal_timeout) and didn't show that information.

We have the same check and don't log a potential error either.

https://github.com/raiden-network/light-client/blob/d65362c267857d1643194d47915948760d4beedd/raiden-ts/src/transfers/epics/locked.ts#L494-L510

## Tasks
-

[2020-10-29 13:32] palango opened #2299 "Don't handle reveals when 'receive' capability is off"
## Description

Currently the `RECEIVE` capability stops the client from asking for the secret:
https://github.com/raiden-network/light-client/blob/d65362c267857d1643194d47915948760d4beedd/raiden-ts/src/transfers/epics/locked.ts#L494-L510

If a `SecretReveal` was received (shouldn't happen) the client would handle it.

## Acceptance criteria
-

## Tasks
- [x] Add the same capability check to the `

[2020-10-30 10:00] palango commented on #2296
This means that the SP account had to few Eth to run the scenarios. We filled the account.

[2020-10-30 10:00] #2296 closed

[2020-10-30 10:02] palango commented on #2293
We had to adjust some server settings and during re-deployment the logs were lost. Nothing we can do here now.

[2020-10-30 10:02] #2293 closed

[2020-10-30 10:51] agatsoh opened #2302 "BF1, BF6, BF7 failed"
## Thanks for filing a bug report :-)
This issue has been created to keep track of failed SP runs for 30 Oct 2020
## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-

## Additional Infos (Optional)
[code]

[2020-10-30 11:31] #2223 closed

[2020-10-31 17:20] andrevmatos commented on #744
With #2289, final dApp bundle size got reduced to around 3.3 MB, 1.1 MB gzipped, possibly due to smart `yarn`s deps hoisting. This isn't perfect yet, but way better than we had.

[2020-10-31 23:12] andrevmatos commented on #2227
I've tested the CLI with NodeJS v14, which is the new active LTS, and also re-enabled the `connection.close()` call on channel's `finalize` block. I could not reproduce the segfault, and indeed the CLI instance gracefully exited ~1s after it was shutdown, instead of the 10s force-exit we have without that `connection.close` call, indicating both: 1. it was the RTC connection which held the event-l

[2020-11-02 07:06] christianbrb commented on #2297
Logging isn't working

[2020-11-02 07:07] christianbrb commented on #2299
@palango Thanks for opening the issue :)

What is the problem here?

[2020-11-02 07:20] agatsoh opened #2303 "BF1 gets No route between nodes found"
## Thanks for filing a bug report :-)
Failure dates 31st Oct and 01, 02 November 2020
## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
`HTTP status code “409” while fetching http://127.0.0.1:39243/api/v1/payments/0x59105441977ecD9d805A4f5b060E34676F50F806/0x66E7d2dC38f884024Ba8B8F95D9d7a4E8a8566ff. Expected 2..: {“message”:”No route between nodes found.”,”details”:””}`

## Add

[2020-11-02 07:42] agatsoh opened #2304 "PFS9, 6, 3, 1. MS3. BF6, 7, 4, 3, 2 get Insufficient balance in account error"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
`Insufficient balance (0.3269447117662875 Eth) in account 0x8f5EA3Bb3E99C317b8745918F6973f7AfBF659c3 on chain “5” - it needs additional 0.1730552882337125 Eth (that is 173055288233712503 Wei).`

## Additional Infos (Optional)
[code]

[2020-11-02 07:50] agatsoh opened #2305 "BF7, BF1 gets Requested target is offline"
## Thanks for filing a bug report :-)
Failure date 31st October 2020
## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
`HTTP status code “409” while fetching http://127.0.0.1:32875/api/v1/payments/0x59105441977ecD9d805A4f5b060E34676F50F806/0xCF6d21f484b80157315750d06cE27BAdACe69fd4. Expected 200: {“message”:”The requested target is offline.”,”details”:””}`

[2020-11-02 07:53] agatsoh opened #2306 "BF6 failure - failure cause not visible in the monitoring channel"
## Thanks for filing a bug report :-)
Failure for date 31st October 2020
## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
- Failure cause not indicated in monitoring channel would be clear only by looking at the logs.

[2020-11-02 10:19] christianbrb commented on #2233
Misunderstanding

[2020-11-02 10:19] #2233 closed

[2020-11-02 10:32] #2285 closed

[2020-11-02 10:44] #1707 closed

[2020-11-02 10:47] christianbrb opened #2307 "I want to be informed that I have to withdraw my RDN / SVT tokens on the UDC screen first"
## Description
As Chris I want to be informed that I have to withdraw my RDN / SVT tokens on the UDC screen first so that I can withdraw them afterwards on the withdrawal screen.

## Acceptance criteria
- Link to the UDC screen
- Show the information area
- Existing color variables
- Smallest text font 12px

## Tasks
- [x] Design @sashseurat

## Design
[The click-dummy](https://www.figma.com/proto

[2020-11-02 10:54] christianbrb opened #2308 "I want to know how much blocks are left until I can withdraw my RDN / SVT from the main account"
## User Story
As Chris I want to know how much blocks are left until I can withdraw my RDN / SVT from the main account so that I can get them.

## Acceptance criteria
- It is shown on the UDC screen
- I want to see the number of remaining blocks until the planned withdraw is complete
- I want to see the amount of RDN / SVT on the planned withdrawal
- We use our existing colors
- There is another i

[2020-11-02 11:00] taleldayekh opened #2309 "dApp: Make ETH balance red if there is no available ETH"
## Description
Make ETH balance display in red to make it more obvious for users that they need ETH on their Raiden account to withdraw from the UDC if the balance is zero.
## Acceptance criteria
- Zero balance is displayed in red.

## Tasks
- [ ] Change font color to red
<img width="439" alt="Screenshot 2020-11-02 at 11 57 25" src="https://user-images.githubusercontent.com/43838780/97860731-f1467

[2020-11-02 11:25] christianbrb commented on #2278
Currently, the following tools are using the demo001 env:
- Raiden Goerli Wizard
- try.raiden.network
- workshops.raiden.network
- lightclient.raiden.network
- hub.raiden.network

If we are moving away from demo001 to the Raiden test server all of them (except workshops) would need to move to them.

This would need more frequent updates of the solutions to stay in sync with the Raiden test servers

[2020-11-02 11:31] ezdac commented on #2278
This should be a simple configuration parameter that has no effects on the persistence layer?
From my perspective there are no concerns, but I'm also not responsible for any of the services mentioned above.

[2020-11-02 11:39] eorituz commented on #2278
Mhhh the light client "default" can use the latest transport/pfs/ms servers of the python team without affecting anything else. (As long as there is the possibility to also configure the demo env servers - But AFAIK that can be done via the config file).
The Demo env is meant to stay and only be updated if there are major changes. Right now I don't see the need to bump the demo env and therefore I

[2020-11-02 12:07] palango commented on #2304
@Dominik1999 [filled the account again](https://goerli.etherscan.io/tx/0xaf88c068a77deef511b9f5a563f0835033ec013907ad5289592b39b237e4cc96) and I'm going to adjust the reclaim interval to something shorter.

[2020-11-02 12:07] #2304 closed

[2020-11-02 12:56] weilbith commented on #2308
This requires a small new function in the interface of the SDK. This should work pretty much similar to how we get token balances. This means it does not use the state machine and doesn't dispatch any action or event. It simply provides an easy method to query the user deposit contract for planned withdraws for the SDK user. This then simply gets queried on the account UDC screen of the dApp. Simi

[2020-11-02 14:10] christianbrb opened #2311 "Upgrade infrastructure to Node 14"
Upgrade infrastructure to Node 14

[2020-11-02 14:16] christianbrb commented on #2278
Note to myself. We have to make a decision about the Raiden hub

[2020-11-02 14:24] #2302 closed

[2020-11-02 14:25] christianbrb commented on #2305
Merge with https://github.com/raiden-network/light-client/issues/2294

[2020-11-02 14:28] christianbrb commented on #2305
Also happened on 28.10.2020 in BF1

[code]

[2020-11-02 14:29] christianbrb commented on #2294
Duplicate of #2305

[2020-11-02 14:29] #2294 closed

[2020-11-02 14:30] christianbrb commented on #2306
@agatsoh to attach the logs

[2020-11-02 16:39] andrevmatos commented on #2311
[Yarn is already installed on `circleci/node` images](https://circleci.com/docs/2.0/yarn/), gladly one less Docker image for us to maintain

[2020-11-03 01:14] andrevmatos commented on #2311
A reference of good options for TypeScript + NodeJS v14:
https://stackoverflow.com/questions/61305578/what-typescript-configuration-produces-output-closest-to-node-js-14-capabilities/61305579#61305579
Our ESM build isn't fully compatible with Node's restrictions yet, there're some things which would need to be made, including adding `.js` extension to all of our local imports, but we can look at i

[2020-11-03 02:13] andrevmatos commented on #2227
Ok, further testing on high-load BF6 scenario has shown Node v14 indeed helps on allowing connection to be closed without crashing the node, which helps with proper teardown of pending connections and sockets, but I reproduced the high CPU/infinite loop inside `wrtc` bug on this scenario, if (and looks like only if) I disable the `toDevice` messages. Not sure what one thing has to do with the othe

[2020-11-03 11:13] agatsoh opened #2313 "Scenarios failed due to geth nodes unreachable"
## Description

`HTTPConnectionPool(host='geth.goerli.ethnodes.brainbot.com', port=8545): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x72f204606710>: Failed to establish a new connection: [Errno 111] Connection refused'))"}`

Possibly caused by geth nodes not responsing
## Acceptance criteria
- [ ] Healthcheck of the geth nodes whic

[2020-11-03 11:15] palango commented on #2313
There's nothing the LC can do if the client is not reachable.

[2020-11-03 11:15] #2313 closed

[2020-11-03 11:33] #2262 closed

[2020-11-03 11:33] #2311 closed

[2020-11-03 12:45] andrevmatos commented on #2303
This is a PFS presence issue. @palango any chance of we ensuring our scenario runs are in a different time than raiden-py's?

[2020-11-03 13:52] agatsoh commented on #2303
Same issue today just writing down for book keeping
[scenario-player-run_bf1_basic_functionality_2020-11-02T21:14:14.log](https://github.com/raiden-network/light-client/files/5481582/scenario-player-run_bf1_basic_functionality_2020-11-02T21.14.14.log)

[2020-11-03 17:36] palango commented on #2210
Ran into a new problem now, but that should be easy to fix: `Path invalid because of too low reveal timeout ratio`

[2020-11-04 12:24] agatsoh opened #2314 "BF4 gets 500 error while calling payments API"
## Description
[code]

stack trace:

[code]

**scenario_player.exceptions.RESTAPIStatusMismatchError: HTTP status code \"500\" while fetching**

`http://127.0.0.1:47881/api/v1/payments/0x59105441977ecD9d805A4f5b060E34676F50F806/0x5409D2B144a450C459A86c6352898Ef759EdE198`

from: 0, to: 3, amount: 1_000_000_000_000_000, lock_timeout: 30

[code]

[scenario-player-run_bf4_multi_payments_same_node_2020

[2020-11-04 14:00] manuelwedler commented on #2278
In my opinion it would be easier to stick to one environment if we can be sure that it is stable. For example Jacob had a problem at the last workshop where someone was not able to connect a manually started Raiden client with one started with the Wizard, because they run on different environments. But this could also be solved by documenting the demo environment.

I feel like the Wizard should be

[2020-11-04 14:01] sashseurat commented on #2307
@taleldayekh @christianbrb @weilbith
Link to Figma click-dummy containing the Withdrawal screen with link to UDC, ready for review:

https://www.figma.com/proto/5H8EOoC2SntoXZuTtUZsyY/LC-UDC-Screen-Optimisation?node-id=29%3A145&viewport=-257%2C502%2C0.3179304003715515&scaling=min-zoom

Here is a screenshot:
<img width="504" alt="Screenshot 2020-11-04 at 15 00 22" src="https://user-images.githubuse

[2020-11-04 14:10] sashseurat commented on #2220
Click-dummy showcasing the solutions for UX/UI issues is here ready for review:
https://www.figma.com/proto/5H8EOoC2SntoXZuTtUZsyY/LC-UDC-Screen-Optimisation?node-id=42%3A0&viewport=-96%2C461%2C0.25&scaling=min-zoom

## The approach is:
- Defining the information hierarchy via clear visual structures.
- Using simple UX copy.
- The text giving info on the screen is not too prominent to minimize dis

[2020-11-04 14:24] sashseurat commented on #1509
@christianbrb @taleldayekh @weilbith
The optimized menu is ready for review, also in the following click dummy:
https://www.figma.com/proto/5H8EOoC2SntoXZuTtUZsyY/LC-UDC-Screen-Optimisation?node-id=29%3A145&viewport=-257%2C502%2C0.3179304003715515&scaling=min-zoom

<img width="489" alt="Screenshot 2020-11-04 at 15 23 46" src="https://user-images.githubusercontent.com/32264127/98123134-c4849500-1eb

[2020-11-04 15:12] weilbith commented on #2220
A fast and primitive feedback from my side: great work @sashseurat I'm impressed. Not that I've expected anything else. :grimacing:

[2020-11-04 15:46] christianbrb commented on #1509
@sashseurat Looks great :)

My remarks:
- I like the new buttons -> please align with @taleldayekh as we might need to change them at other places as well
- We still have got white as the primary color (see eg. the transfer screen) for text therefore I would make the button header white.
- The button border should be the same grey as we have got on the transfer screen.
- Is the font size for the e

[2020-11-04 15:53] christianbrb commented on #2220
@sashseurat Thanks a lot for the new design and the detailed description :) It is a big improvement.

My remarks:
- Planned Withdrawals -> Withdrawals in progress / No withdrawals in progress
- No text smaller than 12px (I haven't checked)
- User Deposit Contract Balance -> no capital letters
- Buttons -> White text on turquoise as we do it on the other buttons as well

[2020-11-04 15:55] christianbrb commented on #2307
@sashseurat Thanks a lot :)

My remarks:
- I would use a lighter grey for the explaining text -> more towards white as this one is hard to read
- Explaining text at least 12px
- Button -> White text on turqoise as we do for the other buttons
- The screen might benefit from a grey area for the tokens as you did it for the explainatory text and on the transfer screen.

[2020-11-04 15:59] weilbith commented on #2307
According to her design explanation this is intended. And I think she has a point there. The user should not get distracted by this text. He should not first read this notice. He first gets an independent impression of the screen structure and when he starts to interact and go into details he will read this message. And at least for me this is pretty easy to read.

[2020-11-05 07:29] agatsoh opened #2318 "BF7 gets InternalServerError another transaction with same nonce in the queue."
## Thanks for filing a bug report :-)

## Actual Result
[code]

Exception

[code]
 scenario_player.exceptions.RESTAPIStatusMismatchError: HTTP status code \"500\" while fetching http://127.0.0.1:52275/api/v1/channels

**Internal Server Error**

[code]

InternalServerError:
**Transaction gas price supplied is too low**
**There is another transaction with same nonce in the queue**
**Try increasing t

[2020-11-05 07:53] sashseurat commented on #2220
I didnt get this

There is a varty of reasons to have some text smaller than 12px - for example: when text is in all caps, the letter skeleton is higher and text is visually processed as bigger - 10px = 12px etc. This is common.

Why?

I made a conscious decision to not have the same styling to the buttons as in the transfer screen. This screen is similar to a settings screen, and its functions sh

[2020-11-05 08:27] sashseurat commented on #1509
@taleldayekh let me know when you have time today to have a call about this :)

It seems to be more clickable when its blue. This is something we can test very easily with real people via [Maze](https://maze.design/)

Which border? these are new components that have different meanings from the transfer screen. Consistency does not translate into All Buttons Should Have Same Styling. we need to mak

[2020-11-05 08:39] sashseurat commented on #2307
Thore's explanation is correct. This can also be tested very easily.

it is

The explenation I gave for choosing to style these buttons differently than in the transfer screen is here again true.
"I made a conscious decision to not have the same styling to the buttons as in the transfer screen. This screen is similar to a settings screen, and its functions should not seem to User as primary in the

[2020-11-05 08:52] sashseurat commented on #2307
@christianbrb [click-dummy is ready](https://www.figma.com/proto/5H8EOoC2SntoXZuTtUZsyY/LC-UDC-Screen-Optimisation?node-id=29%3A145&viewport=-1797%2C-97%2C1&scaling=min-zoom) with the gray area for the ready token items, here is a screenshot:
<img width="506" alt="Screenshot 2020-11-05 at 09 51 11" src="https://user-images.githubusercontent.com/32264127/98218858-8e482380-1f4c-11eb-91f5-5d76e317946

[2020-11-05 09:27] weilbith commented on #2220
I kina agree with Christian here. I hope it is fine to put feedback here as a developer.
So while on the contract implementation and from the protocol it is called a planned withdraw, I think is a bad naming for the user. I could imagine that it is way easier to understand that a withdrawal he triggered is in progress, rather than it is planned... But only because the whole UDC concept is not well

[2020-11-05 09:36] taleldayekh opened #2319 "Adjust docs after migration from Pnpm to Yarn"
Currently the docs details how to install using `pnpm` this needs to be updated to `yarn`.

[2020-11-05 09:44] sashseurat commented on #2220
Ah sorry, I didn't get the comment but after reading it again I get it 😅 to change the label text.
I changed [the click-dummy](https://www.figma.com/proto/5H8EOoC2SntoXZuTtUZsyY/LC-UDC-Screen-Optimisation?node-id=14%3A27&viewport=-1799%2C1629%2C1&scaling=min-zoom) to have those labels, and here is a picture:
![LC - No Planned Withdrawals](https://user-images.githubusercontent.com/32264127/98224364

[2020-11-05 10:47] palango commented on #2314
@andrevmatos I see two different errors in the logs, but unfortunately no logs lines for the API requests.

There seem to have been some matrix problems:
[code]

And an expired lock.
[code]

[2020-11-05 11:38] agatsoh opened #2321 "Inform user about metamask crash while using the application and come out"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Accept disclaimer
2. Connect
3. Crash metamask (eg. on Firefox enter `about:performance` and end the MetaMask-Task)

## Expected Result
- Dapp should inform that metamask has crashed and he needs to reload it. Come out of it to the Disclaimer or Connect screen

## Actual Result
- Blockchain related interactions are not giving feedback

[2020-11-05 12:45] taleldayekh commented on #2321
Do you have any more details about the "weird" errors? 😀

[2020-11-05 12:46] agatsoh commented on #2321
@taleldayekh  I will once more test it out and post examples or errors here.

[2020-11-05 13:04] #1864 closed

[2020-11-05 13:17] weilbith opened #2322 "sdk - add interface method to get planned UDC withdrawals"
## Description

Related to #2308 we need more access to the data of the UDC contract. I.e. entries of the planned withdrawals mapping with the users address(s). This is hard to do in the dApp itself. But the SDK has everything needed already there. The idea is to offer a simple method like we have already to get token balances. There is no need to extend the whole state machine in any kind. It is

[2020-11-05 13:35] andrevmatos commented on #2322
There may only be one planned withdraw at a time. A new one while there's a pending will replace the previous. It's exposed mostly as an amount and a blockNumber. If blockNumber is in the future, it's pending; if it's in the past, it's available and ready to be performed; I think it resets to `0` after the withdraw is performed.

[2020-11-05 13:45] andrevmatos commented on #2318
Hmm, this error is one of the ones which should be retried. It's expected on the way we do async concurrent transactions, but it should be transparently retried and hidden from the user. I'll check why it wasn't here.

[2020-11-05 13:48] weilbith commented on #2322
Thanks Andre! :pray:

[2020-11-05 13:49] weilbith commented on #2322
I should have consulted you earlier. My plan was just do add 2 lines of code to the Raiden class. I'll look into your hints. Sounds very good and we should re-use that.

[2020-11-05 13:54] agatsoh commented on #2321
One scenario for example once the metamask crashes can be seen,
I dont know why I am not getting the UI errors but just as an example,
you are on the transfer screen and metamask crashes.
You are still not aware that metamask just crashed.
![metanask_crash_issue](https://user-images.githubusercontent.com/15123108/98249431-3afdc180-1f9c-11eb-9ba8-89b116da1256.png)
You enter the Address of the user

[2020-11-05 14:02] weilbith commented on #2322
I think this issue has no point. I did a bad research. Everything is already there.

[2020-11-05 14:02] #2322 closed

[2020-11-05 14:20] andrevmatos commented on #2322
The action has a `payload.block` property which can inform you on when is the current/next planning expiration block. It's also emitted on startup (for past plannings). You can rely on it, if you can keep track of latest emit. If you don't want to keep track of it, and ask SDK explicitly, then yes, you'd need a new method on the `Raiden` class.

[2020-11-05 14:22] #2319 closed

[2020-11-05 14:24] weilbith commented on #2322
Can I safely remove planned withdrawls after the `withdrawn` event?

[2020-11-05 14:27] andrevmatos commented on #2322
Yes. Just bear in mind the workflow here:
[code]

[2020-11-05 14:49] palango opened #2324 "sdk-integration-tests: runtime regression"
Recently runtime of the `sdk-integration-tests` went from 6mins to 12mins. We should investigate if we can recover some/all of those losses.

@andrevmatos noted that https://github.com/raiden-network/light-client/pull/2289 might be the culprit:

[2020-11-05 15:31] weilbith commented on #2322
Yes. So after plan, I see a successful withdraw action with the block when the final withdraw is possible. Special feature is now that the SDK is doing this then automatically. If this transactions succeeds, we get a withdrawn action.
We should consider to rename at least the first action. withdraw and withdrawn are not really well distinguishable.

[2020-11-05 15:37] andrevmatos commented on #2322
Yes, maybe.. the issue here is that `withdraw` is an async action, so it has `udc/withdraw/request`, `udc/withdraw/success` and `udc/withdraw/failure`; the confusion is between `udc/withdraw/success` (which represents when a withdraw was successfully planned/queued) and `udc/withdrawn`, which represents when it got completed (i.e. made effective by 2nd tx). Since async actions can only have one re

[2020-11-05 15:43] weilbith commented on #2322
Haha, but humans are those who read and maintain the code. :stuck_out_tongue_winking_eye:
I'll see if I'm motivated enough to rename it. But actually I had more in mind to actually bring the word `plan` into the game.  Because having successful and completed together is also not really helpful.
But this is definitely not part of this issue (or its parent).

[2020-11-05 16:27] #2318 closed

[2020-11-05 16:46] andrevmatos commented on #2314
Ok.. this is a warning, not a fatal error, it's catched and doesn't shutdown the SDK..
BUT it does indicate that there was an issue on transport server, which didn't get this message through, and this is probably why something else failed (e.g. another transfer didn't go through because the PFS's view of the capacities were outdated).
We need both to check on retrying this request (probably with e

[2020-11-05 16:56] andrevmatos commented on #2314
Reading the source, I can see the 500 was caused by Transfer expiration, as mentioned. Transfer expiration needs to be handled as a failure and raise a proper error code.
Besides this, it did fail because on the recipient's side, once again, the matrix server misbehaved when we tried to fetch presence for the initiator, in order to request the secret:
[code]
Again, as it should, it was not fatal a

[2020-11-05 18:21] #2210 closed

[2020-11-05 22:49] andrevmatos commented on #2303
@agatsoh scenario player logs aren't useful here, we need the node's logs.
Anyway, this error is definitely a presence issue on PFS, nothing to do on our side, so I'm closing it.

[2020-11-05 22:52] andrevmatos commented on #2305
We need the nodes logs, but this error looks like the presence issue, but on our side. We've tried to workaround this bug in our side by explicitly requesting the presence on each presence's update, but looks like this isn't failproof. Proper fix is on infra/server side. I'll check if there's anything else we can do.

[2020-11-06 02:17] andrevmatos commented on #2058
#2063 and #2059 are similar issues; we must handle overflow on the few arithmetics operations we do on foreign messages. Closing those in favor of this one.

[2020-11-06 02:17] andrevmatos commented on #2063
Closing in favor of #2058

[2020-11-06 02:17] #2063 closed

[2020-11-06 02:18] andrevmatos commented on #2059
Closing in favor of #2058

[2020-11-06 02:18] #2059 closed

[2020-11-06 03:50] andrevmatos commented on #2299
@christianbrb I tried to describe it in the body of the PR. It's a very edgy case, and not a "risk", just consistency

[2020-11-06 09:09] weilbith opened #2334 "dapp: handle blockchain event related notifications properly according to confirmation property"
## Description

Talel and I introduced the cool feature that notifications can have the optional properties of a target block number when this event becomes done/ready/finished/... This allowed us to introduce automatically a block counter in the notification card. When the counter reached zero, it was shown as successful. In the meantime, the rest of the whole notification remained the same.

Thi

[2020-11-06 09:17] weilbith commented on #2334
This kinda acts as preparation for #2308
Talel and I have evaluated that we should correct this first.

[2020-11-06 10:27] #2297 closed

[2020-11-06 10:27] #2299 closed

[2020-11-06 12:25] #2058 closed

[2020-11-09 07:02] agatsoh commented on #2318
6th November 2020 also BF7 had the same issue
[scenario-player-run_bf7_long_path_2020-11-06T00:31:27.log](https://github.com/raiden-network/light-client/files/5508609/scenario-player-run_bf7_long_path_2020-11-06T00.31.27.log)

[2020-11-09 08:17] christianbrb commented on #2258
Working fine like it is right now

[2020-11-09 08:17] #2258 closed

[2020-11-09 08:24] christianbrb opened #2338 "Amount field is checked without being accessed"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Open a channel
2. Go to the transfer screen

## Expected Result
- Yellow warning text for the amount field is not shown

## Actual Result
- Yellow warning text for the amount field is shown

![grafik](https://user-images.githubusercontent.com/35398162/98516832-4fc4a880-226d-11eb-80d1-e07596496042.png)

## Additional Infos (Optional)
[

[2020-11-09 08:49] christianbrb commented on #2178
@taleldayekh Thanks for implementing this.

The notification get's easily missed.

As a quick-fix:
- Could we make the notification sticking or at least staying there for a much longer time? I wasn't even able to take a screenshot)

And two additional changes to the notification card:
- Backup state to not risk loosing funds -> Backup your state to not risk loosing tokens
- Backup state menu -> Cl

[2020-11-09 09:04] christianbrb commented on #211
@manuelwedler Could you please add your learnings while implementing https://github.com/raiden-network/webui/issues/547?

Please also add a screenshot.

Thanks :)

[2020-11-09 09:21] #2306 closed

[2020-11-09 10:08] #2314 closed

[2020-11-09 11:10] palango commented on #1512
@christianbrb What is your expected deliverable here?

[2020-11-09 11:23] christianbrb commented on #1512
@palango I want to understand the topic and mainly reduce the risk for the user of losing funds to the maximum.

A visualisation would be the first step.

[2020-11-09 11:28] christianbrb commented on #2278
@manuelwedler @eorituz @ezdac Thanks for your input.

@palango This is the comment, which needs to be considered: https://github.com/raiden-network/team/issues/666#issuecomment-551632187

[2020-11-09 14:11] christianbrb commented on #2305
The last three nights we had green scenarios. Closing.

[2020-11-09 14:57] christianbrb commented on #211
Idea from @andrevmatos: Just a dropdown with the proposed clients.

[2020-11-09 15:29] #2178 closed

[2020-11-09 16:42] #2274 closed

[2020-11-09 21:49] #1509 closed

[2020-11-10 09:50] palango opened #2344 "BF6 failure because of invalid password"
The BF6 scenario failed because a node shut down unexpectedly:
[code]

The `stderr`looks like:
[code]

Logs:
[Archive.zip](https://github.com/raiden-network/light-client/files/5516331/Archive.zip)

[2020-11-10 10:00] palango commented on #2344
Same happened at PFS5:

[code]

Logs.
[Archive.zip](https://github.com/raiden-network/light-client/files/5516395/Archive.zip)

[2020-11-10 11:33] palango commented on #2278
I discussed this with different people and try to summarize here.

My understanding is that the consensus is that the demo env makes sense and should be kept. The main reason is to decouple enduser-focusing activities from development-related tasks.

### Pros
- Development can happen without fear of interfering with demos/workshops

### Cons
- Additional maintenance
- Unclear environments for user

[2020-11-10 12:46] andrevmatos commented on #2344
Ok, it seems `ethers.Wallet` fails to open/decrypt **some** private keys generated by the SP with the following error:
[code]
This happens because the `aes-js` library **requires** the JSON wallet to be a fully compliant json-encrypted private key, and on this specific case, it seems SP generated a JSON where the `crypto..cipherparams.iv` field has only 15bytes, while it's expected to be 16bytes l

[2020-11-10 14:22] #2344 closed

[2020-11-10 14:56] christianbrb commented on #211
Screenshot of the WebUI implementation:

![grafik](https://user-images.githubusercontent.com/35398162/98690442-3c990200-236d-11eb-8bed-b3ba365a9126.png)

[2020-11-10 16:09] christianbrb opened #2346 "One scenario for mainnet testing"
## Description
We decided to create one simple scenario for mainnet testing.

## Acceptance criteria
- One scenario is defined
- It is executed on mainnet one time

## Tasks
- [x] Review if BF1 would work for this
- [x] Update the scenario player, so that it works for mainnet
- [ ] Execute the scenario on mainnet
  - [ ] Requires testnet presence fixes to be enabled on mainnet

[2020-11-10 17:34] #2338 closed

[2020-11-11 10:40] ezdac commented on #2278
Definitely - when we plan to continue using the demo env as stable deployment environment for the Demos, this should also stay the default for testnet.

The hosted version currently already uses the demo env when used with a Goerli metamask account.

[2020-11-11 10:55] palango commented on #2278
Thanks @ezdac . I missed that `staging` runs on the demo env.

So from my side what needs to be done is:
- Add another staging deployment running on the test servers (goerli)
- Add a hub to the test environment

Alternatively we help @eorituz setting up the light client for the demo env and move staging to the test env.

@christianbrb Opinions?

[2020-11-11 11:01] ezdac commented on #2278
Maybe I'm missing something here, but when I use `lightclient.raiden.network` (not only `/staging`),
the config shows me e.g. `"matrixServer": "https://transport.demo001.env.raiden.network"`.

The initial issue description asks wether moving the default demo env to the default py-raiden env makes sense:

[2020-11-11 13:18] taleldayekh commented on #698
@christianbrb Here is where I think it makes sense to provide the users with some sort of "documentation" inside the dApp in the info overlay. Have a look and gimme your thoughts.

## Select Hub
<img width="1120" alt="Screenshot 2020-11-11 at 13 53 34" src="https://user-images.githubusercontent.com/43838780/98813977-5269fe00-2425-11eb-9985-0d870cd1a9d0.png">

Not necessarily clear what a hub is.

[2020-11-11 13:38] christianbrb opened #2351 "Automatic documentation is not getting generated on release and is not looking correct."
## Description
Automatic documentation is not getting generated on release and is not looking correct.

## Acceptance criteria
-

## Tasks
- [ ]

[2020-11-11 13:45] christianbrb commented on #2278
Proposal:
https://lightclient.raiden.network/ -> Demo001 + official release
https://lightclient.raiden.network/pre-release -> test001 + pre-release
https://lightclient.raiden.network/staging -> test001 + master

[2020-11-11 13:46] christianbrb commented on #2334
@weilbith is going to submit the PR for review and creates a new issue for further improvements

[2020-11-11 14:07] christianbrb commented on #2321
@christianbrb to reproduce it

[2020-11-11 14:19] manuelwedler commented on #211
@christianbrb The pfs endpoint is pretty straightforward to use. It ranks nodes and gives an ordered list back. It should be easy to integrate that into the light client. See [this](https://raiden-network-specification.readthedocs.io/en/latest/pathfinding_service.html#get-api-v1-token-network-address-suggest-partner) for the documentation.

If you want to link to the explorer highlighting the sugg

[2020-11-11 14:21] ezdac opened #2352 "SecretRequest never arrives at py-raiden node"
Not sure wether this is light-client related, py-raiden or protocol related.
This seemed to work before the latest update at `lightclient.raiden.network`

## Steps to Reproduce
1. Open funded direct channel from py-raiden-sender node (on goerli, demo env) with current `lightclient.raiden.network` node
2. Send transfer to lightclient node
[code]

## Expected Result
- py-raiden receives SecretReques

[2020-11-11 15:28] christianbrb commented on #2321
It is reproducible. The dApp doesn't realize, that MetaMask is not working.
The logs don't show an error.

[2020-11-11 15:39] weilbith opened #2353 "dapp: extend notifications for blockchain relevant features"
## Description

This is the successor of #2334 and its ancestors.
There we added some new features for notifications that are related to a blockchain transaction (block counter, confirmation state & regorgs). But all of them get only applied to the open channel notification. We should extend this to all relevant notifications.

## Acceptance criteria
-

## Tasks
- [ ]

[2020-11-11 15:40] weilbith commented on #2334
I opened the issue that was asked for. I now rebase the PR to include the fixup commits. When the CI runs through successfully, I'll merge it afterwards.

[2020-11-11 17:11] #2334 closed

[2020-11-12 07:57] christianbrb opened #2355 "Update the disclaimer"
## Description
Currently, the disclaimer is getting reworked. It needs to be updated once it is done.

## Acceptance criteria
-

## Tasks

Needs to be done first:
- [x] Add a page to the GitHub repo with the Terms & Conditions (https://docs.google.com/document/d/1Ms3qHF54dw8_AhbsulRAkFe9h1FAg0pttPjLXcv7tRI/edit?ts=60096d59#)
- [x] Update the disclaimer (https://docs.google.com/document/d/1Y3IbX6aO

[2020-11-12 13:34] christianbrb commented on #1693
The link is not shown on staging, reopening.

[2020-11-12 13:45] taleldayekh commented on #1693
It needs to be defined in Circle CI @christianbrb .

[2020-11-12 13:48] sashseurat commented on #698
@taleldayekh & @christianbrb
Here a designed draft of my suggestion for the Select a Hub screen overlay:
https://www.figma.com/proto/KVi3wU2n28KlozER6tmg4m/LC-Info-Overlays?node-id=1%3A14&viewport=-95%2C292%2C0.5&scaling=min-zoom

It will really nice if the illustration can be done by @MariaNono!

The approach is:

- Giving user an overlay in the appearance of a screen, with a bit of a highlighted

[2020-11-12 14:43] #1693 closed

[2020-11-12 15:09] palango opened #2359 "Nightly e2e tests fail due to cypress"
Currently the nightly e2e tests fail in the install stage due to some problems with cypress.

https://app.circleci.com/pipelines/github/raiden-network/light-client/7602/workflows/8692df0d-871d-49e1-bdf7-cd4412f88876/jobs/47111

[2020-11-12 16:38] #2359 closed

[2020-11-13 09:09] christianbrb opened #2360 "dApp does not connect after deleting all local data"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Open a channel on https://lightclient.raiden.network/
2. Make transfers
3. Delete Cache, Cookies, IndexedDB, LocalStorage and Session Storage
4. Go to https://lightclient.raiden.network/
5. Accept the disclaimer
6. Generate Raiden Account

## Expected Result
- I am on the transfer screen and see my full deposit as capacity

## Actual

[2020-11-13 10:08] palango opened #2361 "Multiple scenario failures because of "node did not stop cleanly""
BF2, MS1, MS2, MS3 and PFS8 failed tonight with the message `Exception: Node X did not stop cleanly`

I could not find any obvious problems in the logs.

What's a bit strange is that the scenario runs (especially the MS ones) take little more than 5 mins, but that error should only be thrown after 10mins:
[code]

### Logs
- [MS2.zip](https://github.com/raiden-network/light-client/files/5536150/MS2

[2020-11-13 11:13] palango commented on #2346
BF1 does tests the following functionality of the client:
- Starting and stopping of nodes
- Channel opening and closing
- Deposits and withdraws
- PFS interactions
- MS interactions

[2020-11-13 11:41] sashseurat commented on #698
Here is draft for Open Channel screen overlay (in same Figma file, under different page):
https://www.figma.com/file/KVi3wU2n28KlozER6tmg4m/LC-Info-Overlays?node-id=10%3A20

[2020-11-13 12:19] christianbrb commented on #698
@sashseurat Very nice! @taleldayekh It is improving the dApp a lot, thanks for pushing it :)

Just a workflow and implementation proposal. Is it always the same screen and just the text and icon need to be "configured".

[2020-11-13 12:36] taleldayekh commented on #698
Yes exactly like that :)

[2020-11-13 13:19] andrevmatos commented on #2361
This may happen because some or all of the nodes isn't exiting cleanly. This usually happens when a segfault crashes it on stop. I've seen that be caused only by `wrtc` (issues on native modules have higher chance of segfaults) on node12, node14 should have fixed it, but maybe some issue brought it back. We need to investigate.

[2020-11-13 13:23] andrevmatos opened #2363 "Docs generation is not working properly, and is preventing clean release"
https://app.circleci.com/pipelines/github/raiden-network/light-client/7581/workflows/fbdf3208-1f56-4c63-9b7f-f48c5f1f59eb

[2020-11-13 14:22] christianbrb commented on #2360
@andrevmatos This is the output, which I have shown in the daily:

![grafik](https://user-images.githubusercontent.com/35398162/99082099-00131380-25c4-11eb-8e67-48021ea64c1f.png)

[2020-11-16 09:59] christianbrb opened #2366 "3 all successful scenario runs on the release candidate"
## Description

An internal milestone.

## Acceptance criteria
-

## Tasks
- [ ] Close after having three green scenarios after #2465 is resolved.

[2020-11-16 10:40] palango commented on #2361
Reverting the change https://github.com/raiden-network/light-client/commit/e44f9e69026a7b989b7bef183f5bf494c92f97df#diff-60a5943f2bab4aca20494c51597bf22b7a680a4e58e2355e879d1f96b1295416L415-L416 makes it work for me again.

[2020-11-16 13:45] palango commented on #2360
@christianbrb Is it possible that you used an really old local database? I found [this,](https://github.com/pouchdb/pouchdb/pull/7618) which indicates that pouchdb has two adapters for index DB which are incompatible.

However, the update was already done 2 month ago in  10eff40

[2020-11-16 14:15] #2363 closed

[2020-11-16 14:18] christianbrb commented on #2346
We have to fix the scenario runs first: https://github.com/raiden-network/light-client/issues/2361

[2020-11-16 14:27] christianbrb commented on #2360
@palango I have deleted all databases. The SDK has reinstated the databases and now it does not work.

Are you able to reproduce the issue?

[2020-11-16 15:11] palango commented on #2360
Yes, I can reproduce it.

@andrevmatos I see this place when I add a breakpoint when the exeption is thrown:
[code]

[2020-11-16 15:52] MariaNono commented on #698
Hi, @sashseurat I have just finished some first sketches and discussed them with @taleldayekh
Have a look and let's discuss them soon.
![screen-overlay-illustration-sketches](https://user-images.githubusercontent.com/16062579/99275714-20dda200-282c-11eb-8f3d-84802fb09b94.jpg)

[2020-11-17 00:58] andrevmatos commented on #2361
Minimally reproduce example: `$ node index.js`
[code]

[2020-11-17 15:17] weilbith commented on #2308
@christianbrb do you want any end-to-end tests for this feature?

[2020-11-17 15:59] christianbrb commented on #2308
@weilbith No, I don't think so.

[2020-11-17 16:27] #2361 closed

[2020-11-18 14:00] andrevmatos commented on #1512
- debounce means the time we wait before Unlock
  - If it takes <30s, we only send the second MR
  - otherwise, we send the "intermediary" MR, and will send again immediately upon Unlock
- After Revealed, there's a time window where the previous hop already knew the secret (therefore already received), but didn't Unlock to us yet

![MR](https://user-images.githubusercontent.com/587021/99539288-cdc

[2020-11-18 16:37] palango commented on #2360
One additional thing I noticed.

After deleting all storage from the dApp I got the problem Christian describes. After deleting the storage again and an reload, the problem is usually fixed. So maybe the database is not deleted completely...

[2020-11-19 11:54] andrevmatos commented on #2360
Ok, I managed to reproduce this on Firefox only, and only in a very specific condition: the user cleared data **while** the dApp was connected.
Looks like, on Firefox at least, when we have an open DB connection and DB is deleted, next "write" call will create an empty database with `version=1` to store that write, which will then fail on pouchDB checks on next start.
It's hard to detect when data

[2020-11-19 13:43] weilbith commented on #2307
This issue is blocked until the two related issues with their PRs are done.
The problem is that we now have ended up with a horrible design hybrid. Partially we use the components from Vuetify and custom ones. So we have now two versions of the "action"-button design.
Anyway we have already two "implementations" of this new button in two complete different setups (main account menu using a Vuetify

[2020-11-19 13:44] weilbith commented on #2307
Quick note:
I contacted Talel and the info section that is shown here should not be integrated into his new feature of #698 as we did (plan) for the UDC screen before.

[2020-11-19 16:17] MariaNono commented on #698
Second sketch iteration!
@christianbrb , @taleldayekh , @sashseurat , I would proceed with these ideas unless you any changes to suggest.
![sketches](https://user-images.githubusercontent.com/16062579/99692921-1a009a80-2a8b-11eb-997a-5ac37a277222.jpg)

[2020-11-20 07:49] christianbrb commented on #698
@MariaNono Looks very nice :)

Open channel:
1. Please also add dots (tokens) on the left side of the channel (it is the deposit)
2. Just make the arrows into one direction (from left to right) as the the user can just pay somebody if the partner hasn't done a counterdeposit.

UDC Funds:
This one is really hard. It should be shown, that it is used to pay a service.
User/Wallet -> Token -> Service

[2020-11-20 07:56] christianbrb commented on #2360
@palango @andrevmatos Thanks a lot for your investigation.

The workaround deleting the 2nd database while being disconnected worked for me.

I am reducing the criticality to "minor".

@andrevmatos No need for a fix from my perspective.

[2020-11-20 08:12] christianbrb commented on #1512
Summarizing what we have discussed (please correct me where I am wrong)
- After the secret has been received we have got the following risk we don't receive the secret (`Unlocked`).
- We need to wait for the reveal timeout period (currently 50 blocks) until we can see the unlock on-chain.
- During that period (between `Revealed `and `Unlocked`) we cannot send the `MonitoringRequest` and therefore

[2020-11-20 11:02] weilbith opened #2372 "dApp: udc withdrawal plan and automatic final withdrawal user flow improvement"
## Description

During the design of showing the progress of planned UDC withdrawals we did one mistake: the last final transaction that get done automatically.

This is what happens in the SDK:
- user triggers withdrawal
- SDK does withdrawal plan transaction
- plan gets written to contract, period where services can claim IOUs starts
- period ends and user is able to claim finally the tokens
- S

[2020-11-20 11:05] christianbrb opened #2375 "dApp is behaving weird, if MetaMask is disconnected"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Connect
2. Put the computer into the sleep modus
3. Wake the computer up

## Expected Result
- I can continue using the dApp

## Actual Result
- MetaMask is disconnected (see #2321)
- There are problems using the dApp
- For example, I don't see the tokens to withdraw

![grafik](https://user-images.githubusercontent.com/35398162/997930

[2020-11-20 11:05] christianbrb commented on #2375
It's a duplicate of #2321

[2020-11-20 11:05] #2375 closed

[2020-11-20 11:06] christianbrb commented on #2321
See https://github.com/raiden-network/light-client/issues/2375 for more information

[2020-11-20 11:06] #2321 closed

[2020-11-20 11:23] christianbrb opened #2376 "I don't see my tokens other than SVT / RDN on the withdrawal screen"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Move TTT to the Raiden Account (Within this case the tokens are from a closed channel, but this might be related to #https://github.com/raiden-network/light-client/issues/2377)
2. Move SVT to the Raiden Account

## Expected Result
- I see TTT and SVT on the withdrawal screen

## Actual Result
- I just see SVT on the withdrawal screen

[2020-11-20 11:42] christianbrb opened #2377 "After closing and settling the tokens are not on my Raiden Account"
## Thanks for filing a bug report :-)

I have got a weird issue, that I do not understand

## Steps to Reproduce
1. See https://docs.google.com/document/d/1_aT0Vgf9Cd6JuQuA01Kacc94mJB-rHELNttL13UAvs0/edit because I had the intention to test something else
    - Create a channel
    - Make a transfer
    - Delete the state, while the dApp is disconnected
    - Connect to the dApp (a new state is ge

[2020-11-20 13:03] #2308 closed

[2020-11-20 13:40] #2220 closed

[2020-11-20 14:07] christianbrb commented on #2360
@andrevmatos is fixing it upstream

[2020-11-20 14:18] christianbrb opened #2378 "Defaults for mainnet (dApp, CLI, SDK)"
## Description
Define and set the default options for mainnet

## Acceptance criteria
- All configurable options are documented here: https://github.com/raiden-network/team/issues/881
- All options depending on the chain id (=mainnet) are documented here: https://github.com/raiden-network/team/issues/881

## Tasks
- [x] Add the reason to the configurable options
- [x] Add the options depending on

[2020-11-20 14:33] christianbrb commented on #880
To check, if it works as a progressive web app:
- Chrome
- Firefox
- Safari
- MetaMask Mobile

[2020-11-20 14:47] christianbrb commented on #2352
According to @andrevmatos it might be a presence issue

[2020-11-20 14:48] christianbrb commented on #2351
This has been fixed by #2365

[2020-11-20 14:48] #2351 closed

[2020-11-20 14:50] christianbrb commented on #211
Hi @sashseurat :) Can we have a meeting on Monday to discuss this issue?

[2020-11-20 14:55] sashseurat commented on #211
sure! invite me for a call :)

[2020-11-20 15:19] palango commented on #2377
So both of those nodes deposited:
- Node 1: 100TTT: https://goerli.etherscan.io/tx/0x9a4007cbae49535c8b9d5700ad51d17ddf11d67219f0678fd516f72be37d6cf2
- Node 2: 0,05 TTT: https://goerli.etherscan.io/tx/0x9a599cd6e17d8c770a5e7d6a60f6a5c5e5979cf525dded2653183c89c9671629

I see those two deposits on the chain
[code]

Then node 2 sends all its tokens (0,05TTT) to node 1. That means node 1 has a balance

[2020-11-20 15:50] christianbrb commented on #211
@eorituz We would need an upgrade of the demo environment to implement this issue. We would need to start with the implementation after the design has been done. An upgrade mid next week would be fine. Please coordinate with @paul for the correct version.

[2020-11-20 16:04] christianbrb commented on #2377
@palango Thanks a lot :)
I was not able to get any tokens as I have transferred them. I need to rebuild my test set-up.

[2020-11-20 16:04] #2377 closed

[2020-11-20 16:14] taleldayekh opened #2379 "dApp: Illustrate and implement the dApp screens in the info overlay"
## User Story
As Chris I want to see illustrations as a compliment to the descriptions when I view any info overlay.

## Acceptance criteria
All screens with an info overlay should have an illustration and all illustrations should be in the same style.

## Tasks
- [ ] Illustrations for:
  - Select Hub
  - Open Channel
  - Transfer
  - Transfer (steps)
  - Channels
  - Raiden Account
  - Withdrawal

[2020-11-20 16:40] christianbrb commented on #880
@andrevmatos Could you roughly check the PWA concept.

I have found this articles:
https://almbok.com/kb/progressive_web_application
https://web.dev/progressive-web-apps/

PWA seems to work on MetaMask Mobile:
https://github.com/MetaMask/metamask-mobile/issues/1966

Ok, I think it is not working on a lot of browsers:
https://caniuse.com/web-app-manifest

[2020-11-20 16:42] christianbrb commented on #880
It seems to mainly work on mobile.

[2020-11-23 07:50] christianbrb opened #2382 "Message to update the dApp does not appear"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Access the dApp on staging
2. Merge a new PR on master

## Expected Result
- I am getting a message, that I need to click to update the dApp

## Actual Result
- I am not getting the message

## Additional Infos (Optional)
[code]

[2020-11-23 07:58] christianbrb opened #2383 "Uncaught (in promise) Error: Redirected when going from "/?redirectTo=%2Ftransfer" to "/transfer" via a navigation guard"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. I don't know

## Expected Result
- No error is shown

## Actual Result
- Error is shown in the console

`Uncaught (in promise) Error: Redirected when going from "/?redirectTo=%2Ftransfer" to "/transfer" via a navigation guard`

## Additional Infos (Optional)
[code]

[2020-11-23 08:08] christianbrb commented on #880
Just for completness. There is a PWA plug-in for Vue:
https://axelhodler.medium.com/caching-in-a-vue-js-pwa-845233696072
https://vuepress.vuejs.org/plugin/official/plugin-pwa.html

[2020-11-23 08:23] christianbrb commented on #880
@weilbith
How is our caching currently working? I was under the impression, that in the past we have completely cached the dApp and only refreshed on a new build. I think this would be already sufficient.

If not there is another way of building offline available web pages:
https://vueschool.io/articles/vuejs-tutorials/vue-js-performance-mastering-cache/
https://samvloeberghs.be/posts/lessons-lear

[2020-11-23 08:58] christianbrb opened #2384 "404 error while downloading `/img/icons/apple-touch-icon-152x152.png`"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Disable cache
2. Open the dApp

## Expected Result
- No 404 errors

## Actual Result
- 404 error while downloading `/img/icons/apple-touch-icon-152x152.png`

![grafik](https://user-images.githubusercontent.com/35398162/99943963-69d4af80-2d72-11eb-8777-16721bf1d2cd.png)

## Additional Infos (Optional)
[code]

[2020-11-23 09:03] christianbrb commented on #2382
@weilbith
How is our caching currently working? I was under the impression, that in the past we have completely cached the dApp and only refreshed on a new build. I think this would be already sufficient.

![grafik](https://user-images.githubusercontent.com/35398162/99941306-18c2bc80-2d6e-11eb-88ef-561d72122310.png)

[2020-11-23 09:34] weilbith commented on #2382
Yes, there is something about caching due to a service worker. I wasn't in touch with that functionality, nor have I used such for GitHub pages before. I'll investigate into the details.

[2020-11-23 09:36] weilbith commented on #880
We use that already if I'm not wrong.

[2020-11-23 10:48] christianbrb commented on #211
Meeting with @sashseurat and @weilbith

Notes:
- Information, that the hubs are ranked (best first) `Current top 3 suggested hubs (best first)`
- A maximum of 3 nodes is shown
- Each hub is represented by an address
- Ability to select one node and copy it to the input field
- Link to the explorer
- It could be the case, that the list cannot be fetched from the PFS server (error case)
- Only minor

[2020-11-23 11:02] christianbrb commented on #2382
Here is the original commit from @nephix
https://github.com/raiden-network/light-client/commit/0f33983dcb24da72181aa96aa502a96bc77d9219#diff-8c64b93ec8d00cd50d1fdb31130cbc7556d80436ada727aef1a73c9c9c280555

[2020-11-23 11:03] christianbrb commented on #2382
As I seem to get the latest updates silently I have classified the bug as medium.

[2020-11-23 12:46] #2360 closed

[2020-11-23 12:49] andrevmatos commented on #2376
I wouldn't qualify this as `critical`, this doesn't put user's funds at risk, just hide them on the Withdrawal screen, and even before the fixup, the user can trigger it to show up by going to the Select Token screen (which refreshes tokens data and balances) and then going to the Withdrawal screen.

[2020-11-23 13:35] christianbrb commented on #2376
@andrevmatos Thanks for providing this workaround and fix. I wasn't aware of this. I am classifying it as `medium`

[2020-11-23 13:56] christianbrb commented on #2372
@weilbith Nice catch :) It is important, that we implement this.

[2020-11-23 14:33] christianbrb opened #2385 "Full test of dApp on mobile (testnet)"
## Description
Go through the same test sheet as when testing desktop version.

## Acceptance criteria
- Test only on testnet

## Tasks
- [ ]

[2020-11-23 15:31] palango opened #2388 "BF4 scenario failure: InternalServerError after timeout"
Konrad started the scenarios after another synapse change.

The run of BF4 showed a problem after a timeout when connecting to the geth node.

[code]

## Logs:
[Archive.zip](https://github.com/raiden-network/light-client/files/5584006/Archive.zip)

[2020-11-23 15:33] #2307 closed

[2020-11-23 16:03] palango opened #2389 "`--environment` in CLI"
## Thanks for filing a bug report :-)

## Expected Result
The LC CLI doesn't implement the `--environment` argument the python client has.

It is used to:
- Stop the node from starting in development mode on mainnet -> we don't have that
- Creating new token networks on mainnet -> we don't support that
- Make the node check the validity of registration of PFS' on mainnet only -> we always check th

[2020-11-23 16:22] #2376 closed

[2020-11-24 09:11] weilbith opened #2391 "dapp: notification icon handling is buggy"
## Steps to reproduce it
1. Remove an icon from a notification
2. Run the dApp

## Expected
- The notification is shown
- If no icon is available a fallback icon is shown

## Actual
- The notification is not shown

## Remarks
At some point we introduced icons as an optional property of a notification. But it is not handled as optional. This means if the icon is not set (which is by code allowed an

[2020-11-24 09:18] weilbith opened #2392 "dapp: asset paths/names like icons should be no translation"
For some reason we put some asset descriptions like the filename of an icon into the translation file. This makes no sense. The assets should be the same for any language.

[2020-11-24 10:28] christianbrb commented on #1512
Meeting with @Dominik1999 @karlb @GataKamsky

The issue is understood.

For the short term actions:
    - We need to reduce the margin for off-chain-success over the reveal timeout to 5 blocks.
          - We need to discuss the security implications of the reduction of the reveal timeout with @palango @karlb and @andrevmatos -> I am setting up a meeting
    - The user needs to know, that he has t

[2020-11-24 10:53] palango commented on #2388
A similar error occurred tonight:
[code]

[2020-11-24 10:57] weilbith commented on #2382
Merge a new PR on master

:joy:

[2020-11-24 12:38] agatsoh opened #2394 "BF4 gets Internal error in the eth_sendRawTransaction call"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
[code]

Fails at:
**from: 4, to: 5, total_deposit: 1_000_000_000_000_000_000, expected_http_status: 201**

[code]

Scenario log:
[scenario-player-run_bf4_multi_payments_same_node_2020-11-24T00:53:40.log](https://github.com/raiden-network/light-client/files/5589863/scenario-player-run_bf4_mu

[2020-11-24 16:07] #2372 closed

[2020-11-24 17:43] christianbrb opened #2397 "Add Raiden CLI readme to the auto-generated documentation"
## Description

Add Raiden CLI to the auto-generated documentation

## Acceptance criteria
-

## Tasks
- [x] Check, if this is included as I have just seen this in the demo @andrevmatos
- [ ] Add the CLI docs

[2020-11-24 17:44] christianbrb opened #2398 "I would like to see the time until a transaction is complete instead of blocks"
## User Story
As Chris, I would like to see the time until a transaction is complete instead of blocks so that I don't have to calculate blocks x seconds.

CC @GataKamsky

## Acceptance criteria

## Tasks

[2020-11-24 19:16] andrevmatos commented on #2397
There's some very simple dApp docs, and no CLI, but it can accept any new page in the `.md` format. It's just a matter of creating the docs and organizing it there

[2020-11-25 06:14] christianbrb commented on #2397
Ok, thanks, let's add the CLI docs

[2020-11-25 06:43] christianbrb opened #2399 "I want to see, that I need to stay online until I receive the lock"
## User Story
As Chris, I want to get see, that I need to stay online until I receive the look so that I do not risk losing my funds

As a simple solution, we could take the modal we are using for sending a transfer and include a warning between revealed and unlocked.

## Acceptance criteria
User should not leave the dApp while receiving a transfer.

## Tasks
- [ ] Add snackbar telling user not to

[2020-11-25 09:28] christianbrb opened #2400 "Mobile Testing on MetaMask Mobile"
## Description
Mobile Testing on MetaMask Mobile

## Acceptance criteria
- Doing the full lifecycle
- Using a fresh ETH account

## Tasks
- [ ] Test on staging
- [ ] Document the test

[2020-11-25 09:32] christianbrb opened #2401 "Test deleting the database"
## Description

Please execute and document (Screenshots, Etherscan transactions) the following test:

1. Go to staging
2. Open a channel with 0.5 TTT
3. Make a transfer of 0.25 TTT
4. Delete the local data (PouchDB, etc.)
5. Reopen the browser
6. Wait until the dApp has resynched
7. Close the channel
8. Settle the channel (or wait for the partner to settle)
9. Check tokens on the withdrawal scree

[2020-11-25 10:58] christianbrb commented on #2389
Isn't it also used to pull the Matrix servers https://github.com/raiden-network/raiden-service-bundle/tree/master/known_servers

[2020-11-25 11:18] agatsoh opened #2402 "BF7 error cannot estimate gas transaction may fail or may require manual gas limit"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
[code]

Fails at:
OpenChannelTask: {'from': 2, 'to': 3, 'total_deposit': 1000000000000000000}

[code]

[code]

**InternalServerError: cannot estimate gas; transaction may fail or may require manual gas limit**

request `eth_estimateGas`

[scenario-player-run_bf7_long_path_2020-11-25T01:22:5

[2020-11-25 11:58] agatsoh opened #2403 "BF6 gets Remote end closed connection without response"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
One of the nodes raiden api's error with

[code]

[code]

Fails at:

[code]

Error:
[code]

[scenario-player-run_bf6_stress_hub_node_2020-11-25T00:19:24.log](https://github.com/raiden-network/light-client/files/5596496/scenario-player-run_bf6_stress_hub_node_2020-11-25T00.19.24.log)

[2020-11-25 13:20] agatsoh opened #2404 "BF4 gets InternalServerError: timeout for eth_getTransactionCount request"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-

[code]

Fails at:
[code]

[code]

InternalServerError: timeout (
requestBody=";{";method";:";eth_getTransactionCount";,";params";:[";0x7a89c697172640a0eb075c2981e9c691f08004bb";,";pending";],";id";:769,";jsonrpc";:";2.0";}";, requestMethod=";POST";, timeout=120000, url=";http://geth.goerli

[2020-11-25 13:43] christianbrb commented on #2388
Seems to be an infrastructure issue

Maybe add them to the retryable errors.

Also see #2402 and #2404

[2020-11-25 13:43] christianbrb commented on #2402
Duplicate of https://github.com/raiden-network/light-client/issues/2388

[2020-11-25 13:44] christianbrb commented on #2404
Duplicate of https://github.com/raiden-network/light-client/issues/2388

[2020-11-25 13:44] #2404 closed

[2020-11-25 13:54] christianbrb opened #2405 "GitHub PR check for CHANGELOG entries if making a PR from forked repositories"
GitHub PR check for CHANGELOG entries is flake if making a PR from forked repositories.

[2020-11-25 13:58] christianbrb commented on #880
Closing this one as it has a long discussion and the scope is not clear any more.

First we are going to fix https://github.com/raiden-network/light-client/issues/2382

If need we are going to create a new issue for using the service worker / cache offline capability.

[2020-11-25 13:58] #880 closed

[2020-11-25 14:02] christianbrb commented on #2403
@agatsoh Please attach the *.log from the nodes

[2020-11-25 14:30] christianbrb commented on #2352
### Solution

Let's first do:
1. Ignore presence for messages, which are reactions to our messages

If the presence bug is still present afterward to go with:
2. Use to-device queuing

[2020-11-25 14:33] christianbrb commented on #2394
Same as #2388

[2020-11-25 14:33] #2394 closed

[2020-11-25 14:38] christianbrb commented on #2389
@christianbrb We have got that for the mainnet servers

We have decided to not implement the --environment parameter

[2020-11-25 14:38] #2389 closed

[2020-11-25 14:46] christianbrb commented on #211
Note from the planning:
- @weilbith @taleldayekh Please let me know, if it is difficult to implement the design (once Sash has posted it). We might need to make compromises due to the upcoming mainnet release.

[2020-11-25 16:38] #1256 closed

[2020-11-26 01:29] andrevmatos commented on #2388
I'm creating a PR to refactor some things about our error handlers, including handling these `timeout` errors upon reaching the geth node, but it'd be better to check if there's anything wrong with it on the infrastructure side (cc @ulope)

[2020-11-26 07:49] agatsoh commented on #2401
On settling the channel I get this error, unfortunately I did not take take each and every screenshot, but i will put whatever i have here and also perform a retest.

![error_settle](https://user-images.githubusercontent.com/15123108/100322291-0d7bc500-2fea-11eb-9ede-f2fb1d2fa8ab.png)

[2020-11-26 07:51] agatsoh commented on #2403
Entire logs of node0 and node4

[bf6_node0_node4_logs.tar.gz](https://github.com/raiden-network/light-client/files/5601231/bf6_node0_node4_logs.tar.gz)

[2020-11-26 08:03] agatsoh commented on #2401
Accounts:
Account 1
Main: `0x911E8066cf7Ce063D70D43a3cD0c2CA67CdDB8c0`
Subkey: `0xe523679c4e94c06b0D62BAf996E5D451C831e343`

Account 2.
Main: `0xF87568e93F1437FD9Da14Da547234f0870e125A4`
subkey: `0x7532311B8baa45fbe4A9f596a2Fb75f5b3A625AB`

Etherscan transactions:
For: Account 1

Account Opening:
https://goerli.etherscan.io/tx/0x539c15f0c979e7bacc8e6027ea2345db6a2d6037cb55ee5f83c065b68c36b7b2

Acc

[2020-11-26 08:12] agatsoh commented on #2401
Local Storage and Indexed DB was completely deleted from the browser associated with Account1 and then on re-opening it was re-generated.
![indexeddb](https://user-images.githubusercontent.com/15123108/100324181-e1ae0e80-2fec-11eb-9e03-56bee68dbf0c.png)

Downloaded logs after deleting the indexed db and closing the channel generated from Account1
[raiden_0xe523679c4e94c06b0D62BAf996E5D451C831e343_

[2020-11-26 10:55] sashseurat commented on #211
Here is a link to the figma click-dummy to illustrate the concept of selecting a hub:
https://www.figma.com/proto/bzhKhMCOzOPgOS0gr5gpLv/LC-Hubs-Selection-211?node-id=319%3A0&viewport=-1008%2C1182%2C0.6787916421890259&scaling=min-zoom

## Screens

**Default**
![LC - No Planned Withdrawals_ default](https://user-images.githubusercontent.com/32264127/100342453-4b72ec00-2fde-11eb-98ef-7bf0e0684c29.pn

[2020-11-26 13:19] agatsoh commented on #2400
- [ ] Disclaimer
- [ ] Connect
- [ ] Connect a token

[2020-11-26 14:02] weilbith commented on #2382
Alright, I should give a status update.
The current state is that it is working already. Nothing has changed on our side or GitHub. Also the DNS zone file is fine. The issue is made by the additional security mechanisms of Firefox. If you start Firefox in plain mode (`firefox --ProfileManager` to create such independently), this just works fine. In Chrome or other browsers it also just works out o

[2020-11-26 14:17] agatsoh commented on #2400
![light_client_mobile_channel_screen](https://user-images.githubusercontent.com/15123108/100361486-38810b80-3020-11eb-8725-dba58e2b0bd7.jpeg)

[2020-11-26 14:18] weilbith commented on #2400
@agatsoh so **it is** about those buttons. :grimacing:

[2020-11-26 15:24] palango opened #2409 "Lower transfer expiration for dApp"
In https://github.com/raiden-network/team/issues/894 and https://github.com/raiden-network/team/issues/891 we made the case for a shorter time between receiving a secret and the on-chain transaction in case we don't receive an unlock.

A decision has been made, and we need to implement it for the dApp (and possibly the CLI).

- SDK
  - [x] Make lock expiration configurable
  - [x] Add test for the

[2020-11-26 16:12] palango opened #2410 "To few items from transfer history loaded"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Create some transfer history
2. Reload the dApp

## Expected Result
- All space should be used to display the history

## Actual Result
- Some empty space that get's filled after a first scroll event

After load:
![Screenshot 2020-11-26 at 17 10 07](https://user-images.githubusercontent.com/90851/100373075-7bd07f80-300a-11eb-9ca6-6e85

[2020-11-26 16:26] ulope commented on #2388
Looking at the geth node logs for the 2020-11-24 01:00  time range there are a whole bunch of `replacement transaction underpriced` errors in response to `eth_sendRawTransaction` calls. Not sure if that's relevant to this issue.

Other than that the log looks normal.

[code]

[2020-11-26 17:20] andrevmatos commented on #2388
Thank you, @ulope , for looking into it. `replacement transaction underpriced` is expected, that's how we deal with concurrent txs, handling and retrying (allow us to work reliably without the need to keep `nonce` locally or incurring in the risk of it getting out of sync, as well as not requiring exclusive access to the account). Not sure anything there qualify as root cause of these timeouts, ma

[2020-11-26 17:34] #2388 closed

[2020-11-26 17:43] #2391 closed

[2020-11-27 08:30] agatsoh commented on #2403
Today encountered a similar error in PFS7 and after analysing the node logs this issue also seems like an infrastructure issue related to this https://github.com/raiden-network/light-client/issues/2388

Task errors at

[code]

recurring error on the node 2 is this

[code]

Scenario log:

[scenario-player-run_pfs7_multiple_payments_2020-11-27T01:18:29.log](https://github.com/raiden-network/light-cl

[2020-11-27 09:33] weilbith commented on #2410
Hmm. We could try to increase the threshold value for the intersection observer. But actually it looks like `0.7` are fine. :thinking:

[2020-11-27 09:49] weilbith commented on #2382
@christianbrb I would like to close this issue. I think it is not worth to waste more time in making it working for this specific setup. Also it hurts, since it affects myself as well. But we have some time constraints.
I will open a new issue to tackle the rest of the PWA stuff like making the offline stuff working etc.

[2020-11-27 09:49] #2382 closed

[2020-11-27 09:53] weilbith opened #2414 "dApp: extend service worker to allow offline usage"
## Description
The dApp should be usable even if the server is down. Furthermore it should only request the server for updates and else just use the cached version of the application.
While our service worker claims to do this, it is clearly not working. Finally this is the result of the Chrome PWA test.
This is a big step into the direction of make this app used as PWA by Chrome and Firefox mobil

[2020-11-27 09:54] weilbith commented on #2382
@christianbrb please re-open this issue if you still want to tackle this. This could be interesting to do after mainnet release.

[2020-11-27 10:15] weilbith commented on #211
@sashseurat could you please add another screen for the loading state? The fetching of the suggestions is asynchronous. I would like to make the app working all the time, but while those hubs are fetched we show a loading state before we resolve it to either an error or the suggestion list. But theoretically if the user does not care and the network is slow or the service node does not respond fas

[2020-11-27 10:35] sashseurat commented on #211
Sure, makes sense 👍
How about this message?
![LC - No Planned Withdrawals_ loading](https://user-images.githubusercontent.com/32264127/100439935-6f006a00-30a4-11eb-965b-6f8a6fa58e55.png)

I also added a paste button/icon for the hub input field :)

[2020-11-27 10:47] weilbith commented on #211
Alright. Is the spinner icon animated? :thinking:

I always stated that I don't want to question your design. But do you really feel like we need this paste button? It does not add any functionality. I think everyone should be able to paste text to an input field on any device.
Copy buttons might differ since they include fast and correct selection as well especially for formatted text. But here..

[2020-11-27 10:51] sashseurat commented on #211
Nope :(

It's just a nice to have, definitely not a huge impact. I'll remove it - it's probably not worth the implementation time.

[2020-11-27 11:06] weilbith commented on #2382
Ah, while working on the caching part, I think I found the security issue. The PWA plugin which is just an interface to Webpack it's Workbox plugin uses this external source: https://storage.googleapis.com/workbox-cdn/releases/4.3.1/workbox-sw.js

[2020-11-27 11:24] palango opened #2415 "Bad transfer history ordering"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Send some transfers
2. Look at the transfer history

## Expected Result
- Latest transfer shown first, as I'm potentially more interested in those

## Actual Result
- Latest transfer shown last, making it necessary to scroll

## Additional Infos (Optional)
![Screenshot 2020-11-27 at 12 22 25](https://user-images.githubusercontent.com/

[2020-11-27 11:54] agatsoh commented on #2400
The account screen looks a bit ugly.

![raiden_lc_account_screen](https://user-images.githubusercontent.com/15123108/100446793-6e33fc00-30d5-11eb-9b56-e9e3be0238ac.gif)

[2020-11-27 13:14] agatsoh commented on #2400
Transfer eth screen the amount is not visible when editing it. Its gets white out due to the background.
![transfer_eth_screen](https://user-images.githubusercontent.com/15123108/100453094-62016c00-30e0-11eb-9997-a8ca36337c1a.jpeg)

[2020-11-27 14:44] agatsoh opened #2416 "Show on-chain token balance to the user"
## Description
The user does not see the on-chain token balance anywhere on the app. While depositing tokens inside a channel he might want to check out how much he has on-chain.

## Acceptance criteria
-
## Tasks
- [ ]

[2020-11-29 00:58] andrevmatos commented on #2403
Ok, this is weird.. on the BF6 logs, the node004 was first doing successful requests but then suddenly started getting these `timeout`s, and didn't recover until getting stopped (which led to the issue), even though we retried them, but the funny thing is that both it and node000 were using `geth` at the same time, but node000 did not get these timeouts!
The only reasons I can think goes in these

[2020-11-30 08:38] agatsoh commented on #2402
Got to observe this error today

Scenario logs
[scenario-player-run_bf7_long_path_2020-11-30T00:25:13.log](https://github.com/raiden-network/light-client/files/5614661/scenario-player-run_bf7_long_path_2020-11-30T00.25.13.log)

Node logs
[bf7_node10_node11_30thNov2020.tar.gz](https://github.com/raiden-network/light-client/files/5614675/bf7_node10_node11_30thNov2020.tar.gz)

[2020-11-30 13:01] #698 closed

[2020-11-30 13:44] weilbith commented on #2382
Maybe the `anonymous` options helps (Mozilla [docs](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#attr-crossorigin)). Unfortunately we can't test this without a release.

[2020-11-30 15:48] andrevmatos commented on #2402
Ok, it seems this issue is related to #2403
It could reproduce it by running BF7 with `geth` node only, but **not** by running all nodes on `parity`, so it seems to confirm this and that other issue as infrastructure issues on the `geth` node. Retrying the requests and giving more timeout (on the WIP in the linked PR) did **not** fix the issue, I witnessed `ChannelOpened` events being lost even th

[2020-11-30 16:05] palango opened #2418 "Channel close button incorrectly inactivated"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1. Open two channels for the same token
2. Go to the channels page
3. Close one channel

## Expected Result
- I can directly close the other channel as well

## Actual Result
- The other channels "Close" button is greyed out
  - Seems like it's re-activated as soon as the "close" transaction is confirmed. see screenshots

## Screenshots

[2020-12-01 10:09] agatsoh commented on #2403
Encountered this issue today as well on PFS7

[scenario-player-run_pfs7_multiple_payments_2020-12-01T00:41:09.log](https://github.com/raiden-network/light-client/files/5621707/scenario-player-run_pfs7_multiple_payments_2020-12-01T00.41.09.log)

node logs
[pfs7_node3_node4_01Dec2020.tar.gz](https://github.com/raiden-network/light-client/files/5621765/pfs7_node3_node4_01Dec2020.tar.gz)

[2020-12-01 10:54] agatsoh opened #2420 "Distorted withdraw deposit buttons on channels screen for LC on mobile"
## Thanks for filing a bug report :-)

## Steps to Reproduce
 Please refer to these steps to get started with testing on the metamask mobile app
https://github.com/raiden-network/light-client/issues/2400#issuecomment-734294170

## Expected Result
- The withdraw and deposit buttons show like the web app.

## Actual Result
-
![light_client_mobile_channel_screen](https://user-images.githubusercontent

[2020-12-01 10:57] agatsoh opened #2421 "Account screen looks a bit out of order in LC mobile"
## Thanks for filing a bug report :-)

## Steps to Reproduce
Please refer to link here to get started with using LC on mobile
https://github.com/raiden-network/light-client/issues/2400#issuecomment-734294170

## Expected Result
- The background thoughout the Account screen has to be uniform

## Actual Result
- ![raiden_lc_account_screen](https://user-images.githubusercontent.com/15123108/100446793

[2020-12-01 10:59] MariaNono commented on #2379
@taleldayekh Illustrations are done and I will upload the svgs here shortly
![Screenshot 2020-12-01 at 11 53 14](https://user-images.githubusercontent.com/16062579/100731635-ed724a00-33cb-11eb-9a41-ab4c4d286541.png)

[2020-12-01 11:02] agatsoh opened #2422 "Editing ether value in the Transfer Eth screen gets white out in LC mobile"
## Thanks for filing a bug report :-)

## Steps to Reproduce
https://github.com/raiden-network/light-client/issues/2400#issuecomment-734294170

## Expected Result
- The ether amount being entered by the user should be visible to him

## Actual Result
- Transfer eth screen the amount is not visible when editing it. Its gets white out due to the background.
![transfer_eth_screen](https://user-images

[2020-12-01 11:05] agatsoh opened #2423 "Copy to clipboard does not work in LC mobile"
## Thanks for filing a bug report :-)

## Steps to Reproduce
https://github.com/raiden-network/light-client/issues/2400#issuecomment-734294170

## Expected Result
- Copy to clipboard should copy the particular address to the clipboard in case of using the LC on mobile.

## Actual Result
- Copy to clipboard functionality which exists usually on addresses of accounts which get copied immediately whe

[2020-12-01 12:44] taleldayekh commented on #2416
@agatsoh Do you mean the on-chain ETH balance? If so this is always accessible on the `Account` screen.

<img width="483" alt="Screenshot 2020-12-01 at 13 43 46" src="https://user-images.githubusercontent.com/43838780/100742561-42698c80-33db-11eb-8d4c-e1f33be33bd2.png">

[2020-12-01 12:45] taleldayekh commented on #2415
Is it a bug or a feature. :) You are right, the latest transfer should be displayed on top.

[2020-12-01 14:02] taleldayekh commented on #2400
Separate issues exist for this, closing.

[2020-12-01 14:02] #2400 closed

[2020-12-01 15:25] MariaNono commented on #2379
Here are the SVGs @taleldayekh
[LC Info illustrations.zip](https://github.com/raiden-network/light-client/files/5623541/LC.Info.illustrations.zip)
Let me know if there are any problems

[2020-12-01 16:16] palango commented on #2418
This also happens when one channel is settled:
![Screenshot 2020-12-01 at 17 15 30](https://user-images.githubusercontent.com/90851/100766394-e44ba200-33f8-11eb-9769-75c5ef08a0e3.png)

[2020-12-02 10:36] agatsoh opened #2425 "BF7 gets Error: Failed to set ICE candidate. Error: missing response eth_blockNumber"
## Thanks for filing a bug report :-)

## Steps to Reproduce

## Expected Result
-

## Actual Result
-

Recurring error on node0
**Failed to set ICE candidate.**
[code]

Then it gives
**Couldn't set up WebRTC dataChannel, retrying**
[code]
Though webrtc channel failed to establish it does not stop the client.

Finally we have
**Error: missing response** for `eth_blockNumber` this would mostly be r

[2020-12-02 10:45] agatsoh commented on #2403
Encountered this today on BF6
[scenario-player-run_bf6_stress_hub_node_2020-12-02T01:01:17.log](https://github.com/raiden-network/light-client/files/5628668/scenario-player-run_bf6_stress_hub_node_2020-12-02T01.01.17.log)

[bf6_node8_node0_2ndDec2020.tar.gz](https://github.com/raiden-network/light-client/files/5628671/bf6_node8_node0_2ndDec2020.tar.gz)

[2020-12-02 11:05] palango opened #2426 "Misleading token amount shown in transfer screen"
## Thanks for filing a bug report :-)

Conclusion:
We go with - **"Show only the sum of the values, if a user tries to put a higher value warn user that they can only send x."**

Possible solutions discussion
- Show minimum amount (is misleading dApp is not intended only for direct transfers).
- Can't switch between channels because of PFS.
- Show two values (max amount that can be sent in a singl

[2020-12-02 12:48] agatsoh commented on #1487
These are my additions to the questions
1. Whats the difference between the main account and the raiden account ?
2. What is the withdraw  deposit in the UDC screen and withdraw deposit on the channel screen ?
3. why do we need to withdraw service (raiden) tokens before again withdrawing them on the withdraw screen ?
4. Why  do i always get the `Backup State` notification at the bottom ?
5. What i

[2020-12-02 15:16] #2415 closed

[2020-12-02 16:19] ulope commented on #2388
Not related to this issue but

How do you make sure that you don't accidentally clobber an unrelated earlier tx if the gas price has increased in the meantime?

[2020-12-02 16:39] #2379 closed

[2020-12-03 10:28] palango commented on #2426
We nailed it down to https://github.com/raiden-network/light-client/blob/5997aad4b92f1fad35f92efa34630156b82adb65/raiden-dapp/src/views/TransferRoute.vue#L90-L97

I understand the problem this tries to solve, but think the solution is inconsistent.

Lets look at an example: Chris has two channels for the same token, one with a capacity of 0.5T and one with 1T.

Currently this view will show 1T ava

[2020-12-03 15:00] taleldayekh commented on #2398
Since this is an enhancement I'll pull it to the post-mainnet backlog.

[2020-12-03 15:04] taleldayekh commented on #2416
I'm not sure this is a relevant use case. But we can discuss it on the refinement and decide whether to put in on the post mainnet backlog.

[2020-12-03 15:15] palango commented on #2410
@weilbith This still seems to be an issue. On the left is Brave, still not loading the third item. Right is Firefox, where all is as expected.

![Screenshot 2020-12-03 at 16 13 50](https://user-images.githubusercontent.com/90851/101048089-a67a8500-3582-11eb-8b05-e3582376ba2e.png)

[2020-12-03 15:20] weilbith commented on #2410
Could you eventually try to play with the threshold yourself. But actually the space looks like it should be big enough. Does Brave follow the most recent spec of the API?

[2020-12-03 15:24] palango commented on #2410
You mean this one: https://caniuse.com/mdn-api_intersectionobserver_thresholds ?

[2020-12-03 15:53] weilbith commented on #2410
Yes. Wait Brave uses the chromium engine, right?

[2020-12-03 15:57] palango opened #2430 "Token switched when leaving 'channels' screen"
## Steps to Reproduce
1. Select a token that's not first in the token list
2. Go to the channels list
3. Click the 'back' button

## Expected Result
- Should be back on overview page for the selected token

## Actual Result
- The first token from the token list is shown in the overview page

## Additional Infos (Optional)
[code]

[2020-12-03 16:00] palango opened #2431 "Disable UDC 'withdraw' button when no eth is is raiden account"
## Steps to Reproduce
1. Go to UDC screen

## Expected Result
- 'Withdrawal' button should be inactivated when there is no ETH on the raiden account

## Actual Result
- 'Withdrawal' button is active

[2020-12-03 16:02] palango opened #2432 "Lower block confirmation number for testnet/staging"
When testing we spend a lot of time waiting for block confirmations.

I suggest lowering the block confirmation to a lower number (e.g. 2) on the staging and test environments.

## Acceptance criteria
- [ ] Make this easier to configure on our side, as advanced settings.

[2020-12-03 16:25] palango commented on #2410
I think so

[2020-12-04 01:28] andrevmatos commented on #2324
#2417 improved a lot on this, integration tests there are taking 7min, but we should still refactor this at some point in the future

[2020-12-04 11:52] #2324 closed

[2020-12-04 11:52] #2402 closed

[2020-12-04 11:52] #2403 closed

[2020-12-04 11:52] #2425 closed

[2020-12-04 13:00] agatsoh opened #2433 "BF1 gets No route between nodes found"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-

[code]

Fails in the transfer task
[code]

From logs of node3

[code]
[scenario-player-run_bf1_basic_functionality_2020-12-03T23:05:40.log](https://github.com/raiden-network/light-client/files/5642861/scenario-player-run_bf1_basic_functionality_2020-12-03T23.05.40.log)

node logs

[bf1_nod

[2020-12-04 13:34] andrevmatos opened #2434 "Return informative errors on CLI if user request API while node is still syncing"
## Description
Follow up of #2417
On this PR, the notion of `synced` state was introduced on SDK, and on CLI we update properly the value of the `/status` endpoint. Also, some sensible endpoints (like channels) are made available only once the SDK finishes syncing. Before that, the CLI may currently return some not very informative errors, like 500 or 404. We should add proper error messages there

[2020-12-04 13:41] andrevmatos opened #2435 "Inform the user on dApp while the SDK is still syncing"
## Description
Follow up of #2417
On this PR, we introduced the `synced` state notion on the SDK. The dApp should `await` on the `start` method returned promise, or on `raiden.synced` promise, show a dialog telling the SDK is syncing, and only allowing access to the dApp once this is resolved. This promise should always be resolved eventually, and is only rejected if some unhandled `shutdown` exce

[2020-12-04 13:42] palango commented on #211
Blocker to https://github.com/raiden-network/light-client/pull/2419

[2020-12-04 14:01] andrevmatos commented on #2425
The `addIceCandidate` error is just a warning, it's normal on WebRTC connections; the `eth_blockNumber` error though was the cause of this issue, and got solved also by #2417

[2020-12-04 14:28] taleldayekh commented on #2432
Could changing values get us out of sync or introduce other issues?. @palango look up potential pitfalls, coordinate default values with the Python team.

[2020-12-04 14:32] taleldayekh commented on #2418
Was implemented like this to not switch busy state when clicking another channel. Can be fixed by giving each button unique tags.

[2020-12-04 14:37] taleldayekh commented on #2409
@palango to implement Python client part.

[2020-12-04 14:39] taleldayekh commented on #2378
@christianbrb to sign off the values in @palango

[2020-12-04 14:56] andrevmatos commented on #2433
This seem to be the Presence bug on the PFS, not caused by our code. May have been improved by #2417, let's see if the next runs still hit this.

[2020-12-04 20:21] christianbrb commented on #2352
Maybe related: https://github.com/raiden-network/raiden/pull/6708

[2020-12-07 11:43] palango commented on #2278
Discussed with @eorituz
We will add a demo env deployment of the stable lightclient to lightclient.raiden.network/demo

This allows us to handle the other deployments like we want while having a stable light client for the demo env.

[2020-12-08 07:00] agatsoh opened #2437 "MS1 SP cannot find NonClosingBalanceProofUpdated event"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
[code]

Failed at
`AssertBlockchainEventsTask: {'contract_name': 'TokenNetwork', 'event_name': 'NonClosingBalanceProofUpdated', 'num_events': 1, 'event_args': {'closing_participant': 0}}`

[code]
SP logs
[scenario-player-run_ms1_simple_monitoring_2020-12-08T00:43:50.log](https://github.com/

[2020-12-08 07:10] agatsoh commented on #2437
The same thing was observed yeserday 7th Dec 2020
Attaching logs here
[scenario-player-run_ms1_simple_monitoring_2020-12-07T13:56:25.log](https://github.com/raiden-network/light-client/files/5657425/scenario-player-run_ms1_simple_monitoring_2020-12-07T13.56.25.log)
[ms1_node0_node1_7thdec2020.tar.gz](https://github.com/raiden-network/light-client/files/5657426/ms1_node0_node1_7thdec2020.tar.gz)

[2020-12-08 08:38] agatsoh opened #2438 "PFS7 node0 gets timeout for eth_blockNumber call"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
Same exception as I have mentioned in this issue
https://github.com/raiden-network/light-client/issues/2403#issuecomment-734711855

[code]

Fails at:
`OpenChannelTask: {'from': 0, 'to': 4, 'total_deposit': 1000000000000000000, 'expected_http_status': 201}`

[code]

**scenario_player.excepti

[2020-12-08 10:07] weilbith opened #2440 "dApp - strictly manual update procedure"
## Description

Follow up of #2414

At the moment the updates to the dApp happen in some kind of automated manner. The updates are tight to a new (according to byte order) server worker script. This means each time the dApp gets build, not matter if anything has changes, this means an "update". The service worker itself checks every 60s if there is an update for itself. Note that webbrowsers do so

[2020-12-08 10:11] andrevmatos commented on #2437
This was reported on the Raiden-py client run as well. Seems to be an issue on the MS or infra side, nor our code.

[2020-12-08 10:35] agatsoh commented on #2303
We encountered this error again today in PFS4
[code]

Failed at:
[code]

**No route between nodes found**

Traceback (most recent call last):
File \"/usr/local/lib/python3.7/site-packages/scenario_player/tasks/base.py\", line 140, in __call__
return_val = self._run(*args, **kwargs)
File \"/usr/local/lib/python3.7/site-packages/scenario_player/tasks/api_base.py\", line 59, in _run
f'HTTP status cod

[2020-12-08 10:45] weilbith commented on #2440
Soft requirements:
  - [ ] As now complex logical part of the dApp, it should be written in TypeScript
  - [ ] Use the `workbox` library directly and get rid of the `vue-cli-pwa` plugin

[2020-12-08 10:48] weilbith commented on #2440
Using TypeScript for the service worker related sources is a bigger issue. This requires the `webworker` library during the stranspilation of TypeScript. Apparently it seems to interfere with the other libraries we use already.

[2020-12-08 10:53] agatsoh commented on #2303
Same error on PFS5
[scenario-player-run_pfs5_too_low_capacity_2020-12-08T01:40:00.log](https://github.com/raiden-network/light-client/files/5658748/scenario-player-run_pfs5_too_low_capacity_2020-12-08T01.40.00.log)

[2020-12-08 11:53] agatsoh opened #2441 "PFS4 gets Assert error for balance"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-

[code]

Fails at:
[code]

[code]

**Value mismatch for balance. Should: 999000000000000000 Is: 1000000000000000000**

Channel:
[code]

recurring requests on node0
[code]

[pfs4_node0_node3_8thDec2020.tar.gz](https://github.com/raiden-network/light-client/files/5659088/pfs4_node0_node3_8thD

[2020-12-08 12:00] agatsoh commented on #2303
https://github.com/raiden-network/light-client/issues/2433 is a duplicate of this issue

[2020-12-08 12:05] agatsoh commented on #2303
Same error observed on PFS6 on 6thDec 2020

[pfs6_node3_node0_6thDec2020.tar.gz](https://github.com/raiden-network/light-client/files/5659156/pfs6_node3_node0_6thDec2020.tar.gz)
[scenario-player-run_pfs6_simple_path_rewards_2020-12-06T00:24:40.log](https://github.com/raiden-network/light-client/files/5659157/scenario-player-run_pfs6_simple_path_rewards_2020-12-06T00.24.40.log)

[2020-12-08 13:33] weilbith commented on #2440
Since the process with the shutdown of the SDK has changed, I now have the opportunity to make code a bit cleaner and put the service worker assistant (part in the "main" thread that communicates with the service worker thread) into a Vue plugin. The same as we do for example for the Raiden service etc.

[2020-12-08 13:47] andrevmatos commented on #1697
The SDK `synced` status was implemented on #2417. Closing.

[2020-12-08 13:47] #1697 closed

[2020-12-09 10:00] weilbith commented on #2440
There appear to occur issues with the offline serving. I did test "rounds" where everything worked perfectly. But sometimes I had cases where I did not work. In fact there are errors that JavaScript or CSS chunks could not be fetched, but they are available in the cache. I checked that manually. I have absolutely no clue why they occur. I tried to get an idea by extending the logging. But that has

[2020-12-09 10:30] weilbith commented on #2440
Observation:
Fresh start without any cache, nor already active service worker. Starting local web-server and load the page. The service worker gets installed and activated. It fills the cache with the current version.
Now kill the web-server. Trying to access "new" parts in the dApp is not possible due to missing asset chunks. Cache actually includes all these reported assets. The established logg

[2020-12-09 10:38] weilbith commented on #2440
Sorry for the many updates, but I'm quite confused atm. I tried to replicate my observation and test different solution approaches. But when I now reload the page the cache gets cleared automatically...

[2020-12-09 11:47] weilbith commented on #2440
I'm removing the `register-service-worker` package. We use only a tiny part of it. But there is too much going on inside. I rather have more direct control over the registration. The number of lines of code should not vary.

[2020-12-09 12:09] weilbith commented on #2440
Alright. As result of the manual registration I also let the service worker explicitly claim control of the clients. This was apparently not happen sometimes. Thereby we route gets active and the cache works right away. This means I can load the page the first time, shutdown the server and from then on operate the dApp standalone (without reload or anything).

Now I'll concentrate on a corrupted c

[2020-12-09 13:44] manuelwedler commented on #2278
Does this make any changes necessary to our other tools?
Will the demo environment get updated?

[2020-12-09 13:48] taleldayekh commented on #2401
Closing for now, please reopen if still relevant.

[2020-12-09 13:48] #2401 closed

[2020-12-09 13:53] taleldayekh commented on #2438
Proposal: Try to get an Infura account. @palango

[2020-12-09 13:55] taleldayekh commented on #2437
@palango look into this to determine reason (could be multiple reasons).

[2020-12-09 14:32] palango commented on #2409
I read the code and tested it manually: The PC accepts mediations up until the reveal timeout, so no action on the python side is necessary.

[2020-12-09 14:38] taleldayekh commented on #2378
@palango Do what's needed to be able to implement and close this.

[2020-12-09 15:12] weilbith commented on #2440
Without much information I'm about to add an enum for service worker messages and start to use the Vuex store for the assistant.

[2020-12-09 16:45] weilbith commented on #2440
Important improvement: embed the active version inside the package itself and do not fetch it on loading. This is just stupid.

[2020-12-09 17:30] eorituz commented on #2278
@manuelwedler I will update the demo env every once in a while (As soon as there is a major improvement to the current demo env)

Changes to the raiden solution bundle will only be needed once the demo env is actually upgraded. But I don't see that happening in the next two months.

[2020-12-09 18:58] weilbith commented on #2440
Code looks pretty good now I think. Still the full TypeScript support is missing.
Working on the cache corruption detection now.

[2020-12-09 19:22] weilbith commented on #2440
Alright. Cache issues during runtime with an available client to handle user interactions is fixed in a catch manner. I'm now adding the special case when no client is available (e.g. cache got cleared while dApp not open).

[2020-12-09 19:30] weilbith commented on #2440
Alright. I'm done for today. Tomorrow I'll see what I can do to convert most (hopefully all) of the service worker script into Typescript.
Afterwards I'll clean up everything, see where tests are possible (many parts can't be tested via units) and finally redo everything with a clean history. Let's see how I can split up the big thing into smaller standalone commits.

[2020-12-09 19:33] weilbith commented on #2440
Out of curiosity I did a light house test again. Unfortunately we lost the integration of the manifest for the PWA. I'll make sure it gets registered again. This should make the dApp able to get installed. Unfortunately it still complains about a too slow start because it is so huge. This is not critical. But we should start to use more a-la-cart.

[2020-12-10 08:19] agatsoh opened #2443 "PFS8 node0 transfer to node3 expires"
## Thanks for filing a bug report :-)

## Steps to Reproduce
1.
2.

## Expected Result
-

## Actual Result
-
[code]

Fails at:
`TransferTask: {'from': 0, 'to': 3, 'amount': 1000000000000000, 'expected_http_status': 200, 'identifier': 154894145181000002}`

**Transfer expired.**

[code]

node0 till the end apparently could not setup a webrtc channel
[code]

LockedTransfer message

[code]

We the tra

[2020-12-10 09:46] weilbith commented on #2440
Just to be more secure I added a regular check for the cache validity. So the user must not first try to interact to let it fail. This is better in terms of that the cache could be partially broken. In such case he could start to do something in the app, but then at a critical point it fails because this source is not cached. This can prevent that, according to the cycle time.

[2020-12-10 10:14] weilbith commented on #2440
Manifest is injected again. Lighthouse report is green for PWA installation. I tested it and I can install it and run the dApp via my OS application launcher.

[2020-12-10 10:46] weilbith commented on #2440
Alright. I'm trying to do my best to integrate the `webworker` library for TypeScript. @andrevmatos was so kind to do some research this night (ECT) and sent me [this documentation](https://www.typescriptlang.org/docs/handbook/triple-slash-directives.html#-reference-lib-). Let's see what it can do.

[2020-12-10 10:52] palango commented on #2437
Might be related to https://github.com/raiden-network/raiden/issues/6723

This would mean that the message doesn't arrive at the MS.

[2020-12-10 13:27] weilbith commented on #2440
One minor thing I eventually will do is to replace the `fetch` for the version file with an `XMLHttpRequest`. Because now I can't catch the error of fetch completely. Nevermind I catch it, `fetch` will always report itself to the console. This is quite annoying and noise. Furthermore it reports an error, while we only print a warning.

[2020-12-10 14:46] palango opened #2444 "Syncing problems on mainnet"
## Steps to Reproduce
While testing on mainnet I ran into syning problems, probably related to high load on the ethereum nodes.

[code]
## Expected Result
-

## Actual Result
-

## Possible solution

 Implement adaptive syncing to lower the load on the ethereum node and reduce requests that timeout.

[2020-12-10 16:05] #2432 closed

[2020-12-10 16:07] weilbith commented on #2440
TypeScript conversion mainly done. Getting some compilation errors again.. :expressionless:

[2020-12-11 01:18] andrevmatos opened #2446 "Provide a way to locally regenerate a subkey for a different domain"
## Description
Subkey (Raiden Account, #172) is a unique private key used in the Light Client, deterministically generated as the `sha256` of the main key `personal_sign` (EIP-191)  signature of a message containing the current network name, dApp's domain and a warning that this message should not be signed outside of a trusted app, or a different domain, or else it'd give the webapp access to its

[2020-12-11 10:05] agatsoh commented on #2443
This was observed again for BF1 11th Dec 2020
[scenario-player-run_bf1_basic_functionality_2020-12-10T21:17:12.log](https://github.com/raiden-network/light-client/files/5678476/scenario-player-run_bf1_basic_functionality_2020-12-10T21.17.12.log)

[bf1_node0_node3_11thDec2020.tar.gz](https://github.com/raiden-network/light-client/files/5678478/bf1_node0_node3_11thDec2020.tar.gz)

[2020-12-14 09:50] weilbith commented on #2440
Found my mistake. It can't work to exclude files in `tsconfig.json` if you then import them in includes files... :see_no_evil:

[2020-12-14 10:00] taleldayekh opened #2448 "Align design of Open Channel screen with Select Hub Screen"
## Description
The design of the Open Channel screen has been altered due to the newly introduced hub selection list. To better align the both design a proposal is to put the token mint and token info inside rounded gray boxes (similar as for Select Hub).

Screen to be adjusted:
<img width="670" alt="Screenshot 2020-12-14 at 10 54 22" src="https://user-images.githubusercontent.com/43838780/1020675

[2020-12-14 10:47] weilbith commented on #2440
Alright. We have time issues. So I stopped trying to merge the TypeScript libraries. I switched to plain JavaScript for the worker exclusively again. I put everything into a commit and pushed it as a backup to my fork.
After all this are just about ~500 lines of code. But they are pretty much packed with features, special case treatment and general rework of many things. Furthermore where there no

[2020-12-14 11:37] agatsoh opened #2449 "Images for user docs"
![disclaimer](https://user-images.githubusercontent.com/15123108/102077147-db15f880-3e2e-11eb-8b39-1b5e6b7e25eb.png)

[2020-12-14 11:43] agatsoh commented on #2449
![connect_screen](https://user-images.githubusercontent.com/15123108/102077692-b66e5080-3e2f-11eb-9533-dd7f3e76e30a.png)

[2020-12-14 11:44] agatsoh commented on #2449
![connect-to-select-hub-screen](https://user-images.githubusercontent.com/15123108/102077805-e0277780-3e2f-11eb-86ab-cdbf060aba6b.gif)

[2020-12-14 11:45] agatsoh commented on #2449
![select_hub](https://user-images.githubusercontent.com/15123108/102077868-faf9ec00-3e2f-11eb-8a5d-a5df28c4f860.png)

[2020-12-14 11:46] agatsoh commented on #2449
![mint_udc_ttt_combined](https://user-images.githubusercontent.com/15123108/102077942-15cc6080-3e30-11eb-964b-90e0441fa6e7.png)

[2020-12-14 11:47] agatsoh commented on #2449
![after_minting_select_hub](https://user-images.githubusercontent.com/15123108/102078028-41e7e180-3e30-11eb-90bf-9c5b7df8ed2c.png)

[2020-12-14 11:48] agatsoh commented on #2449
![select-button-click](https://user-images.githubusercontent.com/15123108/102078097-5b892900-3e30-11eb-9061-10205ee6fd78.gif)

[2020-12-14 11:49] agatsoh commented on #2449
![transfer_screen_after_select_hub](https://user-images.githubusercontent.com/15123108/102078186-7eb3d880-3e30-11eb-87d3-ab342f062a9e.png)

[2020-12-14 11:50] agatsoh commented on #2449
![channels_screen](https://user-images.githubusercontent.com/15123108/102078250-9ee39780-3e30-11eb-975b-ecaeb6a8e2c7.png)

[2020-12-14 13:20] agatsoh commented on #2449
![network_visualisation](https://user-images.githubusercontent.com/15123108/102085833-2d5e1600-3e3d-11eb-917b-eb5311fa118a.png)

[2020-12-14 13:25] agatsoh commented on #2449
![direct_transfer](https://user-images.githubusercontent.com/15123108/102086318-e9b7dc00-3e3d-11eb-8a1b-cbb4f64034f8.png)

[2020-12-14 13:29] agatsoh commented on #2449
![direct_transfer_confirm](https://user-images.githubusercontent.com/15123108/102086680-782c5d80-3e3e-11eb-82a9-b3b7de65a82e.png)

[2020-12-14 13:35] agatsoh commented on #2449
![after_transfer_history](https://user-images.githubusercontent.com/15123108/102087290-541d4c00-3e3f-11eb-9719-397f51e95645.png)